<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationOperationResponse</key>
	<string>labelAtVisitor</string>
	<key>geometricAssetContrast</key>
	<string>statefulDespiteStyle</string>
	<key>logThroughStyle</key>
	<string>interactorMediatorAppearance</string>
	<key>overlayNearPlatform</key>
	<string>resolverCycleDistance</string>
</dict>
</plist>
