<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normAtChain</key>
	<string>agileIsolatePressure</string>
	<key>offsetScopeLocation</key>
	<string>oldChartLeft</string>
	<key>routeLikeMode</key>
	<string>advancedUsecaseHead</string>
</dict>
</plist>
