<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheOrVariable</key>
	<string>firstResultDuration</string>
	<key>cellShapeOffset</key>
	<string>sequentialDurationSaturation</string>
	<key>frameInterpreterTransparency</key>
	<string>autoFeatureIndex</string>
	<key>layerExceptFramework</key>
	<string>sinkFormLeft</string>
	<key>primaryNavigatorLeft</key>
	<string>buttonTempleTail</string>
	<key>queryFormTint</key>
	<string>swiftAgainstTemple</string>
	<key>stateForParam</key>
	<string>mediumGradientRotation</string>
	<key>webAnimatedcontainerStatus</key>
	<string>typicalCertificateSkewy</string>
</dict>
</plist>
