<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAwaitDirection</key>
	<string>permanentChartOrigin</string>
	<key>crudeStorageStatus</key>
	<string>priorityMethodLocation</string>
	<key>deferredEqualizationTint</key>
	<string>declarativeShaderHead</string>
	<key>listviewThroughObserver</key>
	<string>eagerAspectratioDensity</string>
	<key>toolTaskBehavior</key>
	<string>similarOffsetFlags</string>
	<key>usecaseUntilFacade</key>
	<string>marginLayerDirection</string>
</dict>
</plist>
