<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSizeOpacity</key>
	<string>themeAsScope</string>
	<key>capsuleInterpreterStatus</key>
	<string>masterThroughWork</string>
	<key>characterVariableTension</key>
	<string>otherRouterResponse</string>
	<key>constraintAlongChain</key>
	<string>gridIncludeVariable</string>
	<key>modulusThanJob</key>
	<string>commandParamTint</string>
	<key>resilientModelDelay</key>
	<string>presenterKindScale</string>
	<key>tappableEffectDelay</key>
	<string>hierarchicalTopicBottom</string>
</dict>
</plist>
