<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedContainInterpreter</key>
	<string>baselineProxyRight</string>
	<key>intuitiveEntityStyle</key>
	<string>usageAndForm</string>
	<key>semanticChapterEdge</key>
	<string>integerOfPrototype</string>
	<key>semanticExtensionAppearance</key>
	<string>transformerAsKind</string>
</dict>
</plist>
