<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxTierEdge</key>
	<string>hierarchicalLayoutPosition</string>
	<key>lossThanVisitor</key>
	<string>activatedSinkFormat</string>
	<key>movementValueTension</key>
	<string>brushStateVisible</string>
	<key>otherStateState</key>
	<string>anchorPlatformFrequency</string>
	<key>primaryCupertinoEdge</key>
	<string>logTempleAcceleration</string>
	<key>sliderDuringVariable</key>
	<string>observerWithDecorator</string>
	<key>tickerWorkTail</key>
	<string>screenThroughLayer</string>
	<key>widgetVersusForm</key>
	<string>cubitExceptParameter</string>
</dict>
</plist>
