<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisInParameter</key>
	<string>precisionByWork</string>
	<key>descriptionTaskResponse</key>
	<string>significantExpandedOrigin</string>
	<key>fixedModelColor</key>
	<string>constMonsterSkewx</string>
	<key>fusedMusicDirection</key>
	<string>scrollAtEnvironment</string>
</dict>
</plist>
