<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitOperationDepth</key>
	<string>mapThroughPlatform</string>
	<key>dropdownbuttonWithoutContext</key>
	<string>lastDescriptionForce</string>
	<key>durationEnvironmentCenter</key>
	<string>spineWithType</string>
	<key>elasticColumnHue</key>
	<string>subscriptionOrPattern</string>
	<key>flexActivitySkewy</key>
	<string>timerVarFrequency</string>
	<key>protectedFeatureInterval</key>
	<string>transformerThanDecorator</string>
	<key>sensorFlyweightVelocity</key>
	<string>listenerSinceDecorator</string>
</dict>
</plist>
