<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDrawerInset</key>
	<string>usagePerAdapter</string>
	<key>cellAdapterSpacing</key>
	<string>reactiveCanvasSaturation</string>
	<key>chapterDespiteAdapter</key>
	<string>methodCompositeDistance</string>
	<key>commonRectTheme</key>
	<string>localizationPhaseCoord</string>
	<key>largeReductionPosition</key>
	<string>certificateParameterOrientation</string>
	<key>methodContainShape</key>
	<string>awaitDespiteParam</string>
	<key>movementFormKind</key>
	<string>containerIncludeTask</string>
	<key>prismaticBufferInteraction</key>
	<string>reusableContainerPressure</string>
	<key>variantInsideSystem</key>
	<string>metadataThanDecorator</string>
</dict>
</plist>
