<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedPopupState</key>
	<string>methodBeyondMethod</string>
	<key>grainViaStage</key>
	<string>grayscaleDuringParam</string>
	<key>greatScenePosition</key>
	<string>interactorAgainstTier</string>
	<key>materialPhaseStatus</key>
	<string>entityBeyondActivity</string>
	<key>mediaqueryFromNumber</key>
	<string>similarScaffoldPressure</string>
	<key>navigatorLikeForm</key>
	<string>techniqueKindPressure</string>
	<key>pointOfInterpreter</key>
	<string>semanticPreviewPosition</string>
	<key>rapidRadiusVisible</key>
	<string>taskOfCycle</string>
	<key>reactiveEntityFormat</key>
	<string>difficultGroupDuration</string>
</dict>
</plist>
