<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCustompaintForce</key>
	<string>actionEnvironmentCount</string>
	<key>blocWithChain</key>
	<string>navigatorStateBound</string>
	<key>directlyChannelAppearance</key>
	<string>cubitMethodTension</string>
	<key>graphNearDecorator</key>
	<string>cupertinoPerMode</string>
	<key>oldBaselineSkewy</key>
	<string>sineTypeDuration</string>
	<key>petMediatorSaturation</key>
	<string>priorGraphicScale</string>
	<key>utilByParam</key>
	<string>decorationSingletonColor</string>
</dict>
</plist>
