<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVarScale</key>
	<string>consultativeListenerTension</string>
	<key>bitrateUntilVar</key>
	<string>capacitiesOrProcess</string>
	<key>cycleOrLevel</key>
	<string>materialThemeOffset</string>
	<key>granularProfileAppearance</key>
	<string>prismaticTextInteraction</string>
	<key>persistentInteractorVisibility</key>
	<string>serviceBesideChain</string>
	<key>rapidDurationTension</key>
	<string>isolateStateState</string>
</dict>
</plist>
