<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStageKind</key>
	<string>consumerFacadeTail</string>
	<key>customizedListenerDelay</key>
	<string>lossPrototypeAppearance</string>
	<key>descriptorDecoratorName</key>
	<string>resolverFrameworkDirection</string>
	<key>eventChainStyle</key>
	<string>directNotifierIndex</string>
	<key>imageBridgeCenter</key>
	<string>mediocreResourceHead</string>
	<key>routerActivityOrientation</key>
	<string>positionedUntilCycle</string>
</dict>
</plist>
