<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDecoratorSpeed</key>
	<string>collectionWithChain</string>
	<key>criticalGraphForce</key>
	<string>dependencyPhaseHead</string>
	<key>cubitOutsideMediator</key>
	<string>constRequestResponse</string>
	<key>intuitiveFactoryRotation</key>
	<string>textureModeScale</string>
	<key>oldChapterHue</key>
	<string>containerAgainstCommand</string>
	<key>subscriptionDuringSystem</key>
	<string>stampAboutForm</string>
	<key>subsequentWidgetSkewy</key>
	<string>constraintProxyRight</string>
</dict>
</plist>
