<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientExceptParameter</key>
	<string>permanentRolePressure</string>
	<key>grayscaleSingletonHead</key>
	<string>delegateFlyweightBrightness</string>
	<key>heapShapeScale</key>
	<string>viewVariableTheme</string>
	<key>layoutCompositeLeft</key>
	<string>priorityPatternShape</string>
	<key>lostBrushTop</key>
	<string>reactiveCommandSize</string>
	<key>normalAsyncDepth</key>
	<string>clipperFlyweightCoord</string>
	<key>variantNumberOrientation</key>
	<string>tickerStrategyOrientation</string>
</dict>
</plist>
