<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineInterpreterPosition</key>
	<string>entityStageBorder</string>
	<key>constraintVersusProcess</key>
	<string>columnPerSystem</string>
	<key>crudeLogDelay</key>
	<string>parallelBulletRotation</string>
	<key>draggablePreviewOrigin</key>
	<string>effectLevelState</string>
	<key>flexAndMediator</key>
	<string>missedSubpixelState</string>
	<key>flexThanStrategy</key>
	<string>queueTempleFormat</string>
	<key>observerAwayPrototype</key>
	<string>rowBesideSingleton</string>
	<key>sinkBufferMomentum</key>
	<string>queueWithParameter</string>
	<key>variantShapeTail</key>
	<string>descriptionAtOperation</string>
</dict>
</plist>
