<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBlocVisible</key>
	<string>constraintDuringContext</string>
	<key>comprehensiveLabelFeedback</key>
	<string>repositoryContextTransparency</string>
	<key>currentCanvasLeft</key>
	<string>graphLikeComposite</string>
	<key>draggablePlateIndex</key>
	<string>semanticContainerShape</string>
	<key>elasticDecorationOpacity</key>
	<string>localizationForSystem</string>
	<key>modelTierMargin</key>
	<string>frameWorkType</string>
	<key>resultCommandValidation</key>
	<string>largeQueryBrightness</string>
	<key>semanticCollectionBorder</key>
	<string>commandOutsideFramework</string>
	<key>transitionThroughParam</key>
	<string>associatedAsyncBrightness</string>
</dict>
</plist>
