<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorAlongLayer</key>
	<string>transitionAtVisitor</string>
	<key>heroValueInterval</key>
	<string>factoryJobSpacing</string>
	<key>interactorOrEnvironment</key>
	<string>staticGiftKind</string>
	<key>liteCosineOffset</key>
	<string>granularLogarithmDirection</string>
	<key>optionVarTheme</key>
	<string>priorityOrForm</string>
	<key>tangentNumberKind</key>
	<string>cartesianGrayscaleFormat</string>
</dict>
</plist>
