<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationStrategyResponse</key>
	<string>methodShapeOrigin</string>
	<key>customConstraintScale</key>
	<string>stepAsChain</string>
	<key>diversifiedChartBound</key>
	<string>observerFromMethod</string>
	<key>effectEnvironmentMargin</key>
	<string>streamAroundStyle</string>
	<key>modalAboutComposite</key>
	<string>composableDelegateSpeed</string>
	<key>sortedAnimationSkewx</key>
	<string>immutableTransitionFlags</string>
	<key>spineFormDuration</key>
	<string>rectFunctionTheme</string>
	<key>zoneFlyweightAcceleration</key>
	<string>callbackContextStatus</string>
</dict>
</plist>
