<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveBitrateRight</key>
	<string>substantialMasterResponse</string>
	<key>controllerAtShape</key>
	<string>exponentStateScale</string>
	<key>durationFlyweightStatus</key>
	<string>draggableActivityScale</string>
	<key>invisibleBaselineMargin</key>
	<string>zoneCycleVisible</string>
	<key>overlayViaStructure</key>
	<string>progressbarThanAction</string>
	<key>remainderScopeCoord</key>
	<string>graphicBridgeBrightness</string>
	<key>sequentialPrioritySpacing</key>
	<string>reusableLabelDepth</string>
</dict>
</plist>
