<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderLayerTop</key>
	<string>dialogsThanStructure</string>
	<key>nextLocalizationMargin</key>
	<string>signatureThanLayer</string>
	<key>radioFromBridge</key>
	<string>sceneVarTag</string>
</dict>
</plist>
