<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionTypeDistance</key>
	<string>cacheSinceCommand</string>
	<key>equipmentFacadeState</key>
	<string>bufferAroundType</string>
	<key>localizationMethodOpacity</key>
	<string>graphCycleIndex</string>
	<key>nodeParamBorder</key>
	<string>particleFacadeTint</string>
	<key>transitionAsDecorator</key>
	<string>routeAwayAdapter</string>
	<key>unsortedCapacitiesBound</key>
	<string>cubeStyleDepth</string>
	<key>usageDuringPattern</key>
	<string>similarSpecifierSpeed</string>
</dict>
</plist>
