<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationShapeCenter</key>
	<string>prevTimerIndex</string>
	<key>asyncLogTail</key>
	<string>liteMultiplicationTransparency</string>
	<key>blocNumberFlags</key>
	<string>significantStorageFeedback</string>
	<key>bufferValueCenter</key>
	<string>prismaticErrorCenter</string>
	<key>navigatorVarFeedback</key>
	<string>textureDecoratorSize</string>
	<key>normInPattern</key>
	<string>respectivePrecisionIndex</string>
	<key>priorExponentSaturation</key>
	<string>controllerAgainstComposite</string>
	<key>usedButtonRate</key>
	<string>radioCycleBrightness</string>
</dict>
</plist>
