<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCompositeVisible</key>
	<string>logAdapterRate</string>
	<key>capacitiesVariableStatus</key>
	<string>crudeFutureOpacity</string>
	<key>positionFormAlignment</key>
	<string>subsequentSignaturePosition</string>
	<key>referenceScopeScale</key>
	<string>unaryInterpreterKind</string>
	<key>responsiveTitleSpacing</key>
	<string>dimensionWorkVisible</string>
	<key>sharedRouteMomentum</key>
	<string>popupByShape</string>
</dict>
</plist>
