<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOrFramework</key>
	<string>queryContextResponse</string>
	<key>effectNumberBehavior</key>
	<string>compositionalRadiusTheme</string>
	<key>effectPrototypeCoord</key>
	<string>sensorByMediator</string>
	<key>histogramBufferSaturation</key>
	<string>drawerDespiteComposite</string>
	<key>multiplicationExceptMemento</key>
	<string>variantUntilForm</string>
	<key>originalInstructionEdge</key>
	<string>responsiveAnimationMode</string>
	<key>queueAndContext</key>
	<string>sizeStageDelay</string>
</dict>
</plist>
