<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>singletonAdapterKind</key>
	<string>animationBeyondFramework</string>
	<key>smallDimensionTransparency</key>
	<string>actionThanStructure</string>
	<key>titleExceptVisitor</key>
	<string>topicNearActivity</string>
	<key>usedChartAlignment</key>
	<string>eagerVectorBehavior</string>
</dict>
</plist>
