<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarKindColor</key>
	<string>cosineEnvironmentMargin</string>
	<key>cartesianMenuFeedback</key>
	<string>inheritedBitrateFlags</string>
	<key>globalDelegatePosition</key>
	<string>tickerAlongScope</string>
	<key>hierarchicalResultTag</key>
	<string>factoryAgainstStructure</string>
	<key>injectionAwayTask</key>
	<string>checklistPrototypeDirection</string>
	<key>textureDuringJob</key>
	<string>consultativeEquipmentKind</string>
</dict>
</plist>
