<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartBesideParameter</key>
	<string>observerParamResponse</string>
	<key>descriptorEnvironmentState</key>
	<string>sinkTypeName</string>
	<key>easyRouteRotation</key>
	<string>channelAtBuffer</string>
	<key>grayscaleParamRate</key>
	<string>localizationViaFacade</string>
	<key>localAlignmentRight</key>
	<string>cupertinoAsContext</string>
	<key>newestInteractorHead</key>
	<string>axisVisitorStatus</string>
</dict>
</plist>
