<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTweenLocation</key>
	<string>customizedNavigationDistance</string>
	<key>bulletWithBridge</key>
	<string>chapterOperationBound</string>
	<key>constraintPrototypeScale</key>
	<string>layoutOrFramework</string>
	<key>dependencyCommandMomentum</key>
	<string>singleAnchorInteraction</string>
	<key>directlyEffectMargin</key>
	<string>nativeTimerOpacity</string>
	<key>discardedPreviewShape</key>
	<string>eagerNavigationValidation</string>
	<key>explicitSliderState</key>
	<string>singletonViaType</string>
	<key>missedPositionBound</key>
	<string>entityOperationStyle</string>
	<key>utilBeyondShape</key>
	<string>queueAboutChain</string>
</dict>
</plist>
