<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionContextStyle</key>
	<string>subsequentButtonDelay</string>
	<key>largeProfileTransparency</key>
	<string>pinchableMissionHead</string>
	<key>momentumScopeBottom</key>
	<string>agileEntityFrequency</string>
	<key>resilientTopicScale</key>
	<string>missedDropdownbuttonLeft</string>
	<key>signatureStyleFrequency</key>
	<string>graphicFlyweightContrast</string>
	<key>streamPhaseHue</key>
	<string>arithmeticCoordinatorShade</string>
</dict>
</plist>
