<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelEnvironmentHead</key>
	<string>unactivatedHeapMargin</string>
	<key>coordinatorOutsideMediator</key>
	<string>stepInStyle</string>
	<key>extensionViaInterpreter</key>
	<string>heapForKind</string>
	<key>notifierWithBridge</key>
	<string>seamlessProtocolSkewx</string>
	<key>skinMementoDuration</key>
	<string>uniformWorkflowAcceleration</string>
	<key>transitionBridgeBottom</key>
	<string>invisibleDelegateTension</string>
</dict>
</plist>
