<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioFunctionScale</key>
	<string>skinScopeVelocity</string>
	<key>borderAsVar</key>
	<string>spotIncludeNumber</string>
	<key>consultativeManagerVisibility</key>
	<string>mainAnimationState</string>
	<key>gesturedetectorProxyOffset</key>
	<string>significantOptimizerSkewy</string>
	<key>navigatorSinceAction</key>
	<string>consultativeAwaitTheme</string>
	<key>pinchableNavigatorTag</key>
	<string>transformerAlongBridge</string>
	<key>sliderNearPlatform</key>
	<string>sensorObserverValidation</string>
	<key>sliderViaStage</key>
	<string>swiftNearProcess</string>
	<key>symbolAndTemple</key>
	<string>requestInsideOperation</string>
	<key>unactivatedZoneTension</key>
	<string>viewTierDuration</string>
</dict>
</plist>
