<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAndWork</key>
	<string>difficultTabviewShade</string>
	<key>resultTypePressure</key>
	<string>factoryContextShape</string>
	<key>statelessLayerTheme</key>
	<string>monsterBesideValue</string>
</dict>
</plist>
