<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentExceptSingleton</key>
	<string>builderNumberDepth</string>
	<key>queueFormFlags</key>
	<string>errorFunctionCoord</string>
	<key>textureShapeFeedback</key>
	<string>handlerFormInset</string>
</dict>
</plist>
