<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonModulusForce</key>
	<string>plateProxyTag</string>
	<key>constFutureAppearance</key>
	<string>singletonScopeCount</string>
	<key>equipmentWithProxy</key>
	<string>mobileObserverVelocity</string>
	<key>firstViewPressure</key>
	<string>configurationExceptNumber</string>
	<key>grainChainTag</key>
	<string>transformerTypeTag</string>
	<key>immutableStampTint</key>
	<string>prismaticPrecisionHead</string>
	<key>localizationAgainstMemento</key>
	<string>actionPlatformCenter</string>
	<key>multiListenerContrast</key>
	<string>gradientFrameworkCenter</string>
	<key>radioDecoratorForce</key>
	<string>bufferUntilTier</string>
	<key>subtleTablePadding</key>
	<string>precisionPerVar</string>
</dict>
</plist>
