<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerByMode</key>
	<string>stateTempleBottom</string>
	<key>crucialViewIndex</key>
	<string>buttonWithJob</string>
	<key>multiBuilderAcceleration</key>
	<string>observerStageColor</string>
	<key>vectorAsValue</key>
	<string>fixedExceptionInterval</string>
</dict>
</plist>
