<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMobxPosition</key>
	<string>sliderOutsideVar</string>
	<key>beginnerScrollFlags</key>
	<string>opaquePopupBrightness</string>
	<key>blocModeState</key>
	<string>handlerIncludeMode</string>
	<key>channelAgainstTier</key>
	<string>stateStyleSize</string>
	<key>cupertinoDuringFramework</key>
	<string>sophisticatedStoreDepth</string>
	<key>inkwellMementoDensity</key>
	<string>graphCycleType</string>
	<key>semanticStackDistance</key>
	<string>collectionAmongShape</string>
	<key>standaloneBatchDirection</key>
	<string>responseDuringPrototype</string>
	<key>transitionLevelInterval</key>
	<string>isolateAdapterInteraction</string>
	<key>uniformChannelsTint</key>
	<string>tweenActionPressure</string>
</dict>
</plist>
