<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTaskSpeed</key>
	<string>delegateAgainstStrategy</string>
	<key>buttonTierTheme</key>
	<string>graphAndScope</string>
	<key>compositionExceptFlyweight</key>
	<string>draggableRouterInteraction</string>
	<key>concreteTangentDelay</key>
	<string>scaleAroundValue</string>
	<key>deferredGridSkewx</key>
	<string>previewSystemHue</string>
	<key>equipmentBeyondValue</key>
	<string>priorTransitionLocation</string>
	<key>hierarchicalBulletVelocity</key>
	<string>progressbarValueTail</string>
	<key>hierarchicalFeatureHead</key>
	<string>hyperbolicCycleCoord</string>
	<key>inkwellDecoratorVelocity</key>
	<string>elasticAnimationVisibility</string>
	<key>mainEntityAppearance</key>
	<string>dependencyTaskFeedback</string>
</dict>
</plist>
