<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAlongParameter</key>
	<string>controllerInProcess</string>
	<key>consultativeModalBorder</key>
	<string>commandTaskVelocity</string>
	<key>hardSampleFeedback</key>
	<string>labelProxyPressure</string>
	<key>listviewParameterCenter</key>
	<string>builderAgainstLevel</string>
	<key>optimizerAndInterpreter</key>
	<string>stampAboutType</string>
	<key>popupAgainstStructure</key>
	<string>alignmentOrType</string>
	<key>transformerTempleTint</key>
	<string>sophisticatedTransitionBorder</string>
</dict>
</plist>
