<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVisitorRotation</key>
	<string>commandBesideMemento</string>
	<key>composableEquipmentSpacing</key>
	<string>remainderFromInterpreter</string>
	<key>interpolationContainMode</key>
	<string>viewSinceSystem</string>
	<key>lazyNotifierColor</key>
	<string>viewProxyTheme</string>
	<key>popupActivityOpacity</key>
	<string>buttonFrameworkColor</string>
	<key>queueTypeContrast</key>
	<string>multiCommandIndex</string>
	<key>uniformInkwellType</key>
	<string>granularGetxSpacing</string>
</dict>
</plist>
