<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentScopeEdge</key>
	<string>gridLikeShape</string>
	<key>bufferTypeColor</key>
	<string>rowProxyOpacity</string>
	<key>constraintContextContrast</key>
	<string>hashInStyle</string>
	<key>navigatorStageSkewx</key>
	<string>assetStageSkewx</string>
	<key>prismaticStorageMomentum</key>
	<string>greatAlignmentVisible</string>
	<key>resolverContainPhase</key>
	<string>backwardServiceVisible</string>
	<key>sampleWithoutMode</key>
	<string>inheritedCapsuleDensity</string>
	<key>semanticsExceptPrototype</key>
	<string>commandAtEnvironment</string>
	<key>textValueTail</key>
	<string>explicitPainterBottom</string>
	<key>toolViaJob</key>
	<string>cosineUntilTier</string>
</dict>
</plist>
