<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateDespiteContext</key>
	<string>futureAndFramework</string>
	<key>gesturedetectorVarDirection</key>
	<string>dynamicShaderStatus</string>
	<key>gridProxyScale</key>
	<string>instructionWorkVelocity</string>
	<key>resourceShapeForce</key>
	<string>serviceAndParameter</string>
	<key>shaderCompositeLocation</key>
	<string>operationFromEnvironment</string>
	<key>staticDescriptionSize</key>
	<string>batchChainShape</string>
	<key>storageDuringVar</key>
	<string>isolateByEnvironment</string>
	<key>themeMementoValidation</key>
	<string>largeTransitionFeedback</string>
</dict>
</plist>
