<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAmongProxy</key>
	<string>activityPerFramework</string>
	<key>curvePrototypeTint</key>
	<string>nibActionBound</string>
	<key>integerTierTail</key>
	<string>autoBoxshadowShade</string>
	<key>robustEqualizationSaturation</key>
	<string>hardUsecaseState</string>
	<key>roleLayerFrequency</key>
	<string>primaryIntensityState</string>
	<key>webModelInteraction</key>
	<string>keyPageviewIndex</string>
</dict>
</plist>
