<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionVersusFlyweight</key>
	<string>eventInsidePattern</string>
	<key>inactiveTangentShade</key>
	<string>capacitiesAtType</string>
	<key>injectionAgainstAdapter</key>
	<string>instructionOperationBrightness</string>
	<key>mediocreAlphaRight</key>
	<string>clipperFunctionOffset</string>
	<key>popupSingletonTheme</key>
	<string>musicAboutFunction</string>
	<key>relationalCommandName</key>
	<string>delegateAwayMethod</string>
	<key>serviceChainScale</key>
	<string>persistentPresenterPressure</string>
	<key>streamDuringBuffer</key>
	<string>sensorPhaseStyle</string>
	<key>typicalCompositionSpacing</key>
	<string>menuActionOrigin</string>
</dict>
</plist>
