<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectExceptLayer</key>
	<string>callbackWorkTheme</string>
	<key>groupInsideVar</key>
	<string>pivotalPositionDensity</string>
	<key>resilientCoordinatorEdge</key>
	<string>relationalLossInteraction</string>
</dict>
</plist>
