<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticEnvironmentVelocity</key>
	<string>associatedListenerSaturation</string>
	<key>reactiveGramDensity</key>
	<string>hyperbolicRouteEdge</string>
	<key>uniformAnimationHue</key>
	<string>eagerControllerSkewx</string>
	<key>variantScopeInteraction</key>
	<string>sizedboxFunctionCoord</string>
</dict>
</plist>
