<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchBeyondForm</key>
	<string>menuTaskEdge</string>
	<key>fixedOperationTheme</key>
	<string>optionViaSystem</string>
	<key>flexibleProgressbarHue</key>
	<string>sophisticatedSceneTag</string>
	<key>layoutContextDuration</key>
	<string>textureEnvironmentContrast</string>
	<key>listviewCycleName</key>
	<string>standaloneSymbolInterval</string>
	<key>localContainerSaturation</key>
	<string>tweenFrameworkInteraction</string>
	<key>positionShapeDuration</key>
	<string>discardedResourceTop</string>
	<key>topicThanObserver</key>
	<string>mediumTangentFrequency</string>
	<key>tweenAroundChain</key>
	<string>handlerWithoutCycle</string>
</dict>
</plist>
