<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasKindLocation</key>
	<string>modalTempleValidation</string>
	<key>capacitiesParameterMomentum</key>
	<string>basicGiftBottom</string>
	<key>coordinatorForAction</key>
	<string>alignmentInObserver</string>
	<key>cubeFacadeTint</key>
	<string>instructionAtStyle</string>
	<key>groupProcessOpacity</key>
	<string>associatedStreamKind</string>
	<key>immutableMonsterAcceleration</key>
	<string>routerCommandDistance</string>
	<key>previewBeyondLevel</key>
	<string>exponentViaEnvironment</string>
	<key>viewAroundMediator</key>
	<string>geometricTextureIndex</string>
	<key>zoneStrategyName</key>
	<string>momentumFormStyle</string>
</dict>
</plist>
