<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPointTransparency</key>
	<string>gestureParameterMomentum</string>
	<key>delicateBuilderResponse</key>
	<string>dialogsMementoState</string>
	<key>gesturedetectorOutsideValue</key>
	<string>textfieldViaCycle</string>
	<key>listenerBesideMemento</key>
	<string>spriteCommandContrast</string>
</dict>
</plist>
