<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerInParam</key>
	<string>prevLoopCoord</string>
	<key>denseFutureTint</key>
	<string>projectionOperationCount</string>
	<key>gemFacadeMomentum</key>
	<string>clipperTempleScale</string>
	<key>numericalStoryboardSpacing</key>
	<string>scrollableGateTag</string>
	<key>pinchableClipperShade</key>
	<string>callbackBufferForce</string>
	<key>prismaticOptimizerForce</key>
	<string>alignmentSinceChain</string>
	<key>substantialCommandBrightness</key>
	<string>requestSingletonAlignment</string>
</dict>
</plist>
