<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveChartIndex</key>
	<string>subscriptionFunctionScale</string>
	<key>cosineForParam</key>
	<string>aspectratioWithoutParameter</string>
	<key>listenerAndFramework</key>
	<string>globalIsolateScale</string>
	<key>modelPrototypeAcceleration</key>
	<string>lostSubscriptionStyle</string>
	<key>queryInsideMemento</key>
	<string>remainderOutsideSingleton</string>
	<key>responsiveDecorationPosition</key>
	<string>intuitiveMapPosition</string>
	<key>sequentialWidgetContrast</key>
	<string>streamTempleContrast</string>
</dict>
</plist>
