<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBatchLocation</key>
	<string>mutableTransformerForce</string>
	<key>allocatorDespiteValue</key>
	<string>dropdownbuttonBesideParam</string>
	<key>hierarchicalCurveSkewx</key>
	<string>hierarchicalRowStyle</string>
	<key>integerDespiteMode</key>
	<string>largeBlocTension</string>
	<key>mobxAgainstValue</key>
	<string>resolverByPlatform</string>
	<key>pinchableCoordinatorHue</key>
	<string>sliderMediatorDepth</string>
	<key>scaleAsNumber</key>
	<string>binaryInsideComposite</string>
	<key>sortedDecorationPressure</key>
	<string>topicLayerState</string>
	<key>unactivatedConstraintState</key>
	<string>sequentialConsumerDelay</string>
	<key>viewKindInteraction</key>
	<string>segueBeyondFacade</string>
</dict>
</plist>
