<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderProxyCenter</key>
	<string>completionThanAction</string>
	<key>easyFeaturePadding</key>
	<string>touchTierBound</string>
	<key>interpolationThanFramework</key>
	<string>chartOfChain</string>
	<key>parallelLabelPadding</key>
	<string>alignmentActionBorder</string>
</dict>
</plist>
