<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperExceptPrototype</key>
	<string>effectInsideScope</string>
	<key>completionFromTemple</key>
	<string>offsetAgainstComposite</string>
	<key>intuitiveUtilOrigin</key>
	<string>platePlatformFrequency</string>
	<key>taskVersusCycle</key>
	<string>concurrentActivityTail</string>
</dict>
</plist>
