<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAmongOperation</key>
	<string>monsterAwayState</string>
	<key>bitrateAmongSystem</key>
	<string>similarSliderShape</string>
	<key>rectMediatorAcceleration</key>
	<string>usedGroupAlignment</string>
	<key>responseVarName</key>
	<string>controllerAwayProxy</string>
</dict>
</plist>
