<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableIntensityStatus</key>
	<string>subtleAlertPosition</string>
	<key>concreteMenuPosition</key>
	<string>batchContainTemple</string>
	<key>ephemeralConfigurationFlags</key>
	<string>iconBeyondPattern</string>
	<key>exceptionVersusStrategy</key>
	<string>opaqueLabelSpacing</string>
	<key>futureLayerName</key>
	<string>stampSincePhase</string>
	<key>geometricBoxshadowDelay</key>
	<string>customGesturedetectorName</string>
	<key>projectionFromScope</key>
	<string>durationFunctionVelocity</string>
	<key>widgetActivityColor</key>
	<string>dependencyModeLocation</string>
</dict>
</plist>
