<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioLikeLevel</key>
	<string>mobileSpotDuration</string>
	<key>cubitDuringOperation</key>
	<string>positionedByFlyweight</string>
	<key>fixedFlexBehavior</key>
	<string>protectedEquipmentShape</string>
	<key>memberVariableFormat</key>
	<string>dialogsDuringJob</string>
	<key>optimizerTaskTint</key>
	<string>roleExceptEnvironment</string>
	<key>resolverNearShape</key>
	<string>aspectratioObserverScale</string>
	<key>sizeOutsideCommand</key>
	<string>permanentSizeShade</string>
	<key>topicShapeEdge</key>
	<string>scrollablePointAcceleration</string>
	<key>unaryVariableDirection</key>
	<string>accessibleRequestContrast</string>
</dict>
</plist>
