<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerLayerOpacity</key>
	<string>synchronousStoreHead</string>
	<key>imperativeMemberMargin</key>
	<string>prevGesturedetectorMode</string>
	<key>indicatorParameterFeedback</key>
	<string>presenterCommandBrightness</string>
	<key>mediocreConfigurationKind</key>
	<string>expandedLikeTask</string>
	<key>optimizerPerTask</key>
	<string>isolateBeyondProxy</string>
	<key>pageviewStrategyIndex</key>
	<string>providerFacadeBottom</string>
	<key>rectOrLevel</key>
	<string>completerLikeVariable</string>
</dict>
</plist>
