<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCurveOffset</key>
	<string>borderFacadeAcceleration</string>
	<key>actionFrameworkMomentum</key>
	<string>tabviewAboutTier</string>
	<key>asynchronousCheckboxEdge</key>
	<string>gestureKindOpacity</string>
	<key>equipmentFrameworkAlignment</key>
	<string>routeBufferIndex</string>
	<key>mainSpineForce</key>
	<string>chartScopeHead</string>
	<key>pinchableLabelStatus</key>
	<string>criticalSceneCenter</string>
	<key>rowFromTier</key>
	<string>labelExceptPhase</string>
	<key>switchPlatformHead</key>
	<string>invisibleTransformerEdge</string>
</dict>
</plist>
