<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicBatchDepth</key>
	<string>customizedPositionedBrightness</string>
	<key>indicatorCommandSaturation</key>
	<string>factoryAdapterRotation</string>
	<key>localizationParamBorder</key>
	<string>dependencyVisitorTint</string>
</dict>
</plist>
