<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offsetBridgeMomentum</key>
	<string>brushWithTemple</string>
	<key>pointActionDensity</key>
	<string>responseAlongPrototype</string>
	<key>techniqueAlongType</key>
	<string>customizedKernelOffset</string>
</dict>
</plist>
