<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProtocolLeft</key>
	<string>reactivePositionOffset</string>
	<key>coordinatorParameterState</key>
	<string>multiplicationVersusVisitor</string>
	<key>crucialFactoryInset</key>
	<string>durationAtTier</string>
	<key>imageOfParam</key>
	<string>modalFormColor</string>
	<key>unsortedGateIndex</key>
	<string>blocViaVariable</string>
</dict>
</plist>
