<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDelegateCenter</key>
	<string>pinchableIconStatus</string>
	<key>layerVersusPlatform</key>
	<string>intensityValueInteraction</string>
	<key>resultFlyweightStyle</key>
	<string>advancedIsolateFlags</string>
	<key>segueProxyTail</key>
	<string>gridStageName</string>
	<key>sortedPopupTension</key>
	<string>lastModelDelay</string>
	<key>viewContainAction</key>
	<string>durationVarColor</string>
</dict>
</plist>
