<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellThroughSystem</key>
	<string>errorModeTheme</string>
	<key>gridviewWithAction</key>
	<string>materialControllerRate</string>
	<key>keySpineTension</key>
	<string>titleFromStrategy</string>
	<key>momentumIncludeBridge</key>
	<string>offsetOfAdapter</string>
	<key>movementActivityTension</key>
	<string>durationVersusCycle</string>
	<key>protectedGrainTransparency</key>
	<string>durationModeKind</string>
	<key>unaryThroughWork</key>
	<string>stepProcessOrientation</string>
</dict>
</plist>
