<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAmongAction</key>
	<string>popupCompositeEdge</string>
	<key>descriptionProxyRight</key>
	<string>elasticDurationLeft</string>
	<key>entityValueTail</key>
	<string>customStateDelay</string>
	<key>nodeSingletonHue</key>
	<string>hashShapeEdge</string>
	<key>resolverMementoFrequency</key>
	<string>cursorVisitorDistance</string>
	<key>slashBufferSkewx</key>
	<string>delegateStateDuration</string>
</dict>
</plist>
