<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocActivityName</key>
	<string>chapterStrategyRight</string>
	<key>materialJobTension</key>
	<string>visibleCosineHue</string>
	<key>nodeExceptVar</key>
	<string>commonAnimationType</string>
	<key>pageviewAndJob</key>
	<string>agileHandlerLeft</string>
	<key>requiredCapacitiesType</key>
	<string>remainderChainKind</string>
	<key>seamlessCurveFeedback</key>
	<string>gesturedetectorBesideForm</string>
</dict>
</plist>
