<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerSingletonBehavior</key>
	<string>variantProcessAlignment</string>
	<key>hierarchicalStatefulDistance</key>
	<string>captionUntilMode</string>
	<key>interactorSinceNumber</key>
	<string>timerAlongMode</string>
	<key>methodAndNumber</key>
	<string>accordionLossBrightness</string>
	<key>offsetMethodMode</key>
	<string>groupVariableHead</string>
	<key>slashVersusFacade</key>
	<string>customizedRouteKind</string>
	<key>tangentWithSystem</key>
	<string>appbarAroundLayer</string>
	<key>usecaseLevelStyle</key>
	<string>graphLevelVisibility</string>
</dict>
</plist>
