<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryIncludeMethod</key>
	<string>providerUntilMode</string>
	<key>durationInsideForm</key>
	<string>positionAboutMode</string>
	<key>loopEnvironmentTint</key>
	<string>delegateScopeShape</string>
	<key>mobileAlongAction</key>
	<string>injectionSingletonBehavior</string>
	<key>spineProxyFrequency</key>
	<string>similarRouteRate</string>
	<key>visibleHeroLeft</key>
	<string>bulletOutsideMediator</string>
</dict>
</plist>
