<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileFrameCount</key>
	<string>permissiveCompositionFlags</string>
	<key>positionFrameworkVisibility</key>
	<string>transformerFrameworkAlignment</string>
	<key>routerDespiteMediator</key>
	<string>customizedHeroAcceleration</string>
	<key>streamThroughPhase</key>
	<string>smallRouteShade</string>
</dict>
</plist>
