<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheThroughJob</key>
	<string>nativeProgressbarFeedback</string>
	<key>criticalBulletDistance</key>
	<string>cupertinoBridgeAlignment</string>
	<key>cubitAgainstFacade</key>
	<string>iconFormEdge</string>
	<key>euclideanMetadataState</key>
	<string>constraintParamRate</string>
	<key>pageviewAwayFlyweight</key>
	<string>threadLikeStyle</string>
	<key>presenterPerParam</key>
	<string>marginAwayTemple</string>
	<key>uniqueCubeStyle</key>
	<string>subsequentButtonHead</string>
</dict>
</plist>
