<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseBorderForce</key>
	<string>groupDuringVar</string>
	<key>descriptionCompositeDirection</key>
	<string>paddingMementoBottom</string>
	<key>firstListenerOrientation</key>
	<string>chapterPhaseLeft</string>
	<key>hardPositionOffset</key>
	<string>deferredOffsetTag</string>
	<key>methodUntilComposite</key>
	<string>seamlessUtilTheme</string>
	<key>nextSessionState</key>
	<string>masterSystemScale</string>
	<key>reducerAroundBridge</key>
	<string>gridTempleTheme</string>
	<key>routeAndAdapter</key>
	<string>giftAmongActivity</string>
	<key>statelessVarMode</key>
	<string>descriptorSinceVisitor</string>
	<key>zoneVersusOperation</key>
	<string>exceptionByInterpreter</string>
</dict>
</plist>
