<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerLevelFrequency</key>
	<string>projectionViaSystem</string>
	<key>intensityVisitorVelocity</key>
	<string>spriteVariableDepth</string>
	<key>normalInjectionTransparency</key>
	<string>requestThroughAdapter</string>
</dict>
</plist>
