<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseLevelOpacity</key>
	<string>pivotalInkwellSize</string>
	<key>batchBesideTask</key>
	<string>accessibleGraphOffset</string>
	<key>displayableChannelDepth</key>
	<string>builderIncludeContext</string>
	<key>entityTempleMode</key>
	<string>singletonPrototypeValidation</string>
	<key>explicitRadiusTheme</key>
	<string>flexibleIndicatorMargin</string>
	<key>precisionActivityCount</key>
	<string>asyncInsideTask</string>
	<key>queryAlongObserver</key>
	<string>layoutTaskKind</string>
	<key>resultJobTransparency</key>
	<string>spriteFacadeShape</string>
	<key>substantialLocalizationValidation</key>
	<string>accessoryFrameworkSkewx</string>
</dict>
</plist>
