<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentStateShape</key>
	<string>borderAdapterDelay</string>
	<key>consultativeQueryDelay</key>
	<string>coordinatorPrototypeTheme</string>
	<key>displayableChallengeSkewy</key>
	<string>sophisticatedWidgetDirection</string>
	<key>graphBufferSize</key>
	<string>sharedSizeScale</string>
	<key>lastPresenterVisible</key>
	<string>blocBeyondForm</string>
	<key>promiseActionDepth</key>
	<string>arithmeticPerFunction</string>
	<key>tabbarJobDuration</key>
	<string>cubitIncludeJob</string>
</dict>
</plist>
