<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFrameworkBehavior</key>
	<string>autoExceptionTop</string>
	<key>intermediateAspectLeft</key>
	<string>grayscaleMediatorBehavior</string>
	<key>listviewFromShape</key>
	<string>labelShapeScale</string>
	<key>priorityInCommand</key>
	<string>streamByPlatform</string>
	<key>retainedStorageColor</key>
	<string>functionalHashVisibility</string>
	<key>servicePerTemple</key>
	<string>heapVariableSkewx</string>
</dict>
</plist>
