<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPlaybackSpacing</key>
	<string>rowAboutState</string>
	<key>extensionVarTail</key>
	<string>apertureFormCount</string>
	<key>grainKindBorder</key>
	<string>decorationInsideActivity</string>
	<key>offsetBesideAction</key>
	<string>statefulAtAdapter</string>
	<key>overlayCompositeTag</key>
	<string>completionWorkAcceleration</string>
	<key>subscriptionCommandContrast</key>
	<string>lossBesideComposite</string>
	<key>tickerFacadeSkewx</key>
	<string>smallTickerOffset</string>
	<key>timerNumberDuration</key>
	<string>progressbarCompositeLocation</string>
</dict>
</plist>
