<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisIncludeActivity</key>
	<string>handlerFunctionStatus</string>
	<key>compositionDuringFlyweight</key>
	<string>compositionMediatorHead</string>
	<key>diversifiedRepositoryDistance</key>
	<string>dynamicInjectionSkewx</string>
	<key>nativeDelegateDepth</key>
	<string>awaitEnvironmentVisible</string>
	<key>observerIncludeParam</key>
	<string>requiredAlertOffset</string>
	<key>pageviewVisitorStyle</key>
	<string>commonBuilderColor</string>
	<key>scrollableLoopForce</key>
	<string>cubitStageKind</string>
</dict>
</plist>
