<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorChainVisibility</key>
	<string>skinNearStructure</string>
	<key>curveAboutProcess</key>
	<string>blocAgainstStructure</string>
	<key>eventThanObserver</key>
	<string>observerCommandPressure</string>
	<key>layoutWorkTail</key>
	<string>spriteTypeMargin</string>
	<key>listenerParameterEdge</key>
	<string>statefulLocalizationName</string>
	<key>scaleExceptLayer</key>
	<string>routerTempleBrightness</string>
	<key>sophisticatedTangentRight</key>
	<string>channelLayerVisible</string>
</dict>
</plist>
