<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionByFunction</key>
	<string>checkboxAboutKind</string>
	<key>arithmeticCubitPressure</key>
	<string>descriptorPlatformTheme</string>
	<key>gridAgainstDecorator</key>
	<string>singleIndicatorTail</string>
	<key>nativeThemeAppearance</key>
	<string>buttonProxyVisible</string>
	<key>pivotalCommandAcceleration</key>
	<string>controllerFacadeSkewy</string>
	<key>respectiveMethodIndex</key>
	<string>singleResourceState</string>
</dict>
</plist>
