<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectScopePadding</key>
	<string>observerDuringAdapter</string>
	<key>gateFrameworkTag</key>
	<string>callbackAwayOperation</string>
	<key>musicLayerBehavior</key>
	<string>flexibleDependencyOpacity</string>
	<key>presenterInsideAction</key>
	<string>granularInjectionType</string>
	<key>substantialConstraintInset</key>
	<string>hashCommandMomentum</string>
</dict>
</plist>
