<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeIncludeFramework</key>
	<string>positionedAgainstFunction</string>
	<key>positionedAndStage</key>
	<string>resizableStatefulBorder</string>
	<key>prevLoopMargin</key>
	<string>certificateStrategyInteraction</string>
	<key>rectCommandColor</key>
	<string>difficultReferenceTag</string>
	<key>referenceByState</key>
	<string>serviceDecoratorMomentum</string>
	<key>semanticOptimizerFormat</key>
	<string>positionProxyHue</string>
</dict>
</plist>
