<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectStyleVisible</key>
	<string>inactiveCanvasDuration</string>
	<key>graphicMementoVisible</key>
	<string>assetAlongEnvironment</string>
	<key>gridviewSingletonShade</key>
	<string>cardExceptState</string>
	<key>intuitiveInterfaceTheme</key>
	<string>playbackFacadeTail</string>
	<key>slashProxySaturation</key>
	<string>normOperationKind</string>
	<key>zoneBesideValue</key>
	<string>assetOutsideType</string>
</dict>
</plist>
