<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEqualizationShade</key>
	<string>seamlessDurationType</string>
	<key>containerOrWork</key>
	<string>resourceProxyHue</string>
	<key>gestureExceptState</key>
	<string>tabbarAmongChain</string>
	<key>methodOfPattern</key>
	<string>skirtThanFlyweight</string>
	<key>precisionNearJob</key>
	<string>sliderNearVar</string>
	<key>reactiveCursorSkewx</key>
	<string>prismaticOptionHue</string>
	<key>requestCommandEdge</key>
	<string>presenterThroughTier</string>
	<key>resolverAsKind</key>
	<string>fixedDecorationPosition</string>
	<key>switchLikeType</key>
	<string>imageTaskColor</string>
</dict>
</plist>
