<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChecklistMode</key>
	<string>keyBufferDuration</string>
	<key>capacitiesActivityBehavior</key>
	<string>materialTitleSkewx</string>
	<key>featureExceptOperation</key>
	<string>radioUntilAction</string>
	<key>groupNearVariable</key>
	<string>usageFunctionContrast</string>
	<key>primaryConstraintRotation</key>
	<string>progressbarIncludeKind</string>
</dict>
</plist>
