<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAsStructure</key>
	<string>routeContainValue</string>
	<key>checkboxActionState</key>
	<string>labelVarIndex</string>
	<key>geometricIsolateOpacity</key>
	<string>normalRiverpodTop</string>
	<key>navigatorAtObserver</key>
	<string>resourceThroughStructure</string>
	<key>oldGesturedetectorPosition</key>
	<string>appbarValueEdge</string>
	<key>positionedSinceAdapter</key>
	<string>reducerBridgeOrientation</string>
	<key>referenceFormVisibility</key>
	<string>segueFormMargin</string>
	<key>sceneTaskMomentum</key>
	<string>previewSinceMode</string>
	<key>sizeAsTier</key>
	<string>compositionMementoValidation</string>
	<key>tabbarContextMomentum</key>
	<string>temporaryHeapSize</string>
</dict>
</plist>
