<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxViaStyle</key>
	<string>usedTransformerType</string>
	<key>globalTopicFrequency</key>
	<string>momentumInsidePattern</string>
	<key>localizationBeyondMediator</key>
	<string>cubitVersusVariable</string>
	<key>pinchableErrorDepth</key>
	<string>transitionProcessSpacing</string>
	<key>pointStrategyValidation</key>
	<string>sizeIncludeVariable</string>
	<key>richtextAlongStrategy</key>
	<string>constListviewMargin</string>
	<key>titleDespiteEnvironment</key>
	<string>rectTaskBehavior</string>
	<key>vectorFromInterpreter</key>
	<string>errorAboutSystem</string>
</dict>
</plist>
