<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAwayProxy</key>
	<string>spineBeyondSingleton</string>
	<key>consultativeSpriteState</key>
	<string>relationalTransformerBottom</string>
	<key>delegateAboutForm</key>
	<string>substantialFutureStyle</string>
	<key>delegateFunctionTransparency</key>
	<string>arithmeticJobPosition</string>
	<key>keyNavigationName</key>
	<string>profileOrState</string>
</dict>
</plist>
