<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTaskCount</key>
	<string>referencePrototypeShade</string>
	<key>coordinatorAwayFramework</key>
	<string>certificateOrTemple</string>
	<key>crudeChallengeValidation</key>
	<string>channelsBufferSpacing</string>
	<key>cubitAwayProxy</key>
	<string>sinkLayerBrightness</string>
	<key>loopAmongInterpreter</key>
	<string>pivotalHashDensity</string>
	<key>observerViaForm</key>
	<string>dimensionParameterFlags</string>
	<key>spineStageInteraction</key>
	<string>petChainAcceleration</string>
</dict>
</plist>
