<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSinkCenter</key>
	<string>dynamicOptimizerRate</string>
	<key>deferredUtilTheme</key>
	<string>respectiveAwaitSkewy</string>
	<key>reactiveNavigatorBottom</key>
	<string>cubitAsFlyweight</string>
	<key>secondTechniqueVisibility</key>
	<string>labelIncludePattern</string>
	<key>slashProxyHead</key>
	<string>storageProcessStyle</string>
	<key>stateInsideNumber</key>
	<string>storageInProxy</string>
	<key>sustainableTextureVisibility</key>
	<string>matrixBesideAdapter</string>
	<key>zoneAgainstScope</key>
	<string>mediaThroughVariable</string>
</dict>
</plist>
