<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentSpriteCenter</key>
	<string>taskAwayParameter</string>
	<key>interfaceAgainstObserver</key>
	<string>largeScreenTop</string>
	<key>intuitiveBrushBorder</key>
	<string>oldThemeScale</string>
	<key>respectiveNavigatorTint</key>
	<string>substantialCyclePosition</string>
	<key>sustainableRouterVisible</key>
	<string>viewAndDecorator</string>
	<key>vectorKindPressure</key>
	<string>gridAlongWork</string>
</dict>
</plist>
