<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBeyondStructure</key>
	<string>singletonModeTint</string>
	<key>modelUntilMode</key>
	<string>immediateAppbarEdge</string>
	<key>opaqueProviderTint</key>
	<string>standaloneZoneCenter</string>
	<key>radioInsideVar</key>
	<string>petForJob</string>
	<key>rowCompositeSize</key>
	<string>borderPrototypeInset</string>
	<key>specifierValueDelay</key>
	<string>scrollCycleHead</string>
</dict>
</plist>
