<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableLossTransparency</key>
	<string>storeAlongTemple</string>
	<key>dynamicResultRate</key>
	<string>curveAboutProcess</string>
	<key>grayscaleNumberAcceleration</key>
	<string>compositionFormTheme</string>
	<key>optionFacadeTag</key>
	<string>segmentPrototypeDirection</string>
</dict>
</plist>
