<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterKindFormat</key>
	<string>frameAwayTask</string>
	<key>cursorThroughFramework</key>
	<string>vectorIncludeParameter</string>
	<key>indicatorInterpreterTag</key>
	<string>canvasCompositeSkewy</string>
	<key>methodShapeTop</key>
	<string>elasticEventTail</string>
	<key>tickerInsideChain</key>
	<string>transitionLikeFramework</string>
	<key>topicWorkColor</key>
	<string>serviceInsideFunction</string>
	<key>usageSystemEdge</key>
	<string>buttonAndFlyweight</string>
</dict>
</plist>
