<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAndBridge</key>
	<string>disabledLayerSaturation</string>
	<key>observerSingletonDepth</key>
	<string>textureOperationInterval</string>
	<key>originalCacheVelocity</key>
	<string>channelAlongVisitor</string>
</dict>
</plist>
