<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDrawerTransparency</key>
	<string>hyperbolicIconShape</string>
	<key>globalCacheVisible</key>
	<string>geometricSensorPressure</string>
	<key>heroThanObserver</key>
	<string>permissiveObserverRate</string>
	<key>mapAgainstTemple</key>
	<string>binaryModeInteraction</string>
	<key>monsterMethodColor</key>
	<string>containerMementoTransparency</string>
	<key>protocolAlongScope</key>
	<string>prismaticObserverInterval</string>
	<key>queueAboutPhase</key>
	<string>modulusAndState</string>
	<key>roleProxyVisibility</key>
	<string>textLikeInterpreter</string>
	<key>scalePatternLocation</key>
	<string>symbolChainStatus</string>
	<key>typicalAwaitPosition</key>
	<string>constraintAsTier</string>
</dict>
</plist>
