<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelMediatorMargin</key>
	<string>materialTaskContrast</string>
	<key>constTechniqueBrightness</key>
	<string>completerTierAppearance</string>
	<key>declarativeInjectionCenter</key>
	<string>resilientSensorTension</string>
	<key>displayableCurveDelay</key>
	<string>hyperbolicResolverPadding</string>
	<key>fixedInterfaceTransparency</key>
	<string>grainScopeAlignment</string>
	<key>liteIconSpeed</key>
	<string>disabledGraphicVisible</string>
	<key>movementAdapterFrequency</key>
	<string>listviewOperationOpacity</string>
	<key>priorRowVisible</key>
	<string>scrollableGrainTail</string>
	<key>significantVectorFeedback</key>
	<string>delegateLevelHue</string>
</dict>
</plist>
