<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGraphDirection</key>
	<string>radiusJobType</string>
	<key>dedicatedRepositoryMomentum</key>
	<string>controllerCompositeCoord</string>
	<key>invisibleResponseAlignment</key>
	<string>exponentWithoutTemple</string>
	<key>largeViewTag</key>
	<string>configurationValueVisible</string>
	<key>nextHeapScale</key>
	<string>accessoryPrototypeCenter</string>
	<key>nibForShape</key>
	<string>customProjectBehavior</string>
	<key>oldAlignmentSize</key>
	<string>resilientChapterSaturation</string>
	<key>sessionAndVisitor</key>
	<string>entityOutsideProcess</string>
	<key>storyboardAboutLevel</key>
	<string>sineBesideFacade</string>
	<key>symmetricSignatureShade</key>
	<string>easyAsyncKind</string>
</dict>
</plist>
