<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocContainProxy</key>
	<string>scaffoldLayerSpeed</string>
	<key>crucialDurationOpacity</key>
	<string>constUtilOpacity</string>
	<key>intuitiveFactoryOpacity</key>
	<string>frameInsideStage</string>
	<key>lazyPointTransparency</key>
	<string>curveOrSystem</string>
	<key>marginBeyondValue</key>
	<string>curveCompositeBorder</string>
	<key>marginWithTemple</key>
	<string>titleSinceVariable</string>
</dict>
</plist>
