<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistAgainstVisitor</key>
	<string>commonTitleType</string>
	<key>directlyGramForce</key>
	<string>documentWorkKind</string>
	<key>discardedIntegerShape</key>
	<string>animationPerScope</string>
	<key>effectPrototypeResponse</key>
	<string>mobileUntilAdapter</string>
	<key>explicitSliderState</key>
	<string>hashOrTemple</string>
	<key>functionalResolverRotation</key>
	<string>transformerViaWork</string>
	<key>lostBitrateValidation</key>
	<string>euclideanEffectName</string>
	<key>prismaticLayoutBottom</key>
	<string>basicCoordinatorDirection</string>
	<key>visibleExceptionMomentum</key>
	<string>declarativeTweenName</string>
</dict>
</plist>
