<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchMediatorAppearance</key>
	<string>sizeByTask</string>
	<key>bitrateAndFacade</key>
	<string>nextDurationTransparency</string>
	<key>controllerObserverStyle</key>
	<string>statelessStageCoord</string>
	<key>numericalTableScale</key>
	<string>localizationFlyweightTop</string>
	<key>resolverDespiteVariable</key>
	<string>durationTempleDepth</string>
	<key>specifyAllocatorTheme</key>
	<string>beginnerAxisSpacing</string>
	<key>ternaryFromCycle</key>
	<string>contractionAroundMediator</string>
	<key>timerAtCommand</key>
	<string>reducerInsideStyle</string>
</dict>
</plist>
