<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioModeDistance</key>
	<string>retainedFutureVisibility</string>
	<key>concurrentBoxFormat</key>
	<string>painterOrOperation</string>
	<key>configurationAwayAction</key>
	<string>symmetricConstraintOpacity</string>
	<key>effectShapeResponse</key>
	<string>sustainableInstructionVisibility</string>
	<key>geometricConfigurationAlignment</key>
	<string>popupTempleTop</string>
	<key>gesturedetectorSingletonTension</key>
	<string>cellEnvironmentTail</string>
	<key>primaryInterfaceMomentum</key>
	<string>menuExceptProxy</string>
	<key>semanticsBesideTemple</key>
	<string>streamVariableSize</string>
</dict>
</plist>
