<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderDuringLevel</key>
	<string>concreteFeatureTension</string>
	<key>lostSingletonColor</key>
	<string>sliderAtParam</string>
	<key>masterSystemEdge</key>
	<string>viewParameterSpacing</string>
	<key>menuCompositeSaturation</key>
	<string>shaderWithoutParam</string>
	<key>primaryProviderPressure</key>
	<string>fixedNodeAlignment</string>
	<key>textfieldParamVisibility</key>
	<string>permanentWidgetTint</string>
</dict>
</plist>
