<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionShapeStyle</key>
	<string>standaloneUsecaseDuration</string>
	<key>completerShapeInset</key>
	<string>painterModePadding</string>
	<key>injectionStateShade</key>
	<string>musicAboutInterpreter</string>
	<key>intuitiveMediaqueryTint</key>
	<string>delegateAlongDecorator</string>
	<key>momentumOperationName</key>
	<string>easyLogTop</string>
	<key>notifierStageAcceleration</key>
	<string>resourceStatePosition</string>
	<key>paddingLayerPosition</key>
	<string>subpixelOperationMomentum</string>
	<key>prevViewDirection</key>
	<string>ignoredTopicStatus</string>
	<key>segmentAmongCommand</key>
	<string>assetOfContext</string>
	<key>textAboutPhase</key>
	<string>canvasAboutMediator</string>
</dict>
</plist>
