<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedStreamMode</key>
	<string>mediumSpotDirection</string>
	<key>layoutFacadeMomentum</key>
	<string>statelessPatternTension</string>
	<key>metadataWithProcess</key>
	<string>visibleStorageTension</string>
	<key>swiftAwayStructure</key>
	<string>buttonContainLevel</string>
</dict>
</plist>
