<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralObserverStyle</key>
	<string>smallFeatureTension</string>
	<key>mobileInterpreterFormat</key>
	<string>specifySceneDelay</string>
	<key>positionIncludePhase</key>
	<string>constEffectRate</string>
	<key>repositoryWithBridge</key>
	<string>originalRequestKind</string>
	<key>subscriptionDuringLayer</key>
	<string>lostLogSpeed</string>
	<key>utilStrategyVelocity</key>
	<string>discardedStoryboardStyle</string>
</dict>
</plist>
