<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBrushOrigin</key>
	<string>modelDuringNumber</string>
	<key>arithmeticThanParameter</key>
	<string>spineDespiteShape</string>
	<key>channelLikeKind</key>
	<string>tweenEnvironmentInterval</string>
	<key>constraintTempleBottom</key>
	<string>timerWithoutWork</string>
	<key>convolutionTierRight</key>
	<string>usedMomentumDirection</string>
	<key>decorationAgainstAdapter</key>
	<string>granularBlocTheme</string>
	<key>difficultPainterFlags</key>
	<string>reusableBuilderType</string>
	<key>factoryModeTension</key>
	<string>documentFlyweightDepth</string>
	<key>managerVisitorDuration</key>
	<string>borderPerMethod</string>
	<key>resizableRectRight</key>
	<string>extensionPlatformTransparency</string>
</dict>
</plist>
