<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletThanJob</key>
	<string>gateActionVisible</string>
	<key>explicitPromiseDensity</key>
	<string>gridAgainstFunction</string>
	<key>flexibleFactoryMargin</key>
	<string>crucialCanvasTension</string>
	<key>oldNodeFlags</key>
	<string>modalCommandFlags</string>
	<key>sinkActionStyle</key>
	<string>sequentialResultPosition</string>
</dict>
</plist>
