<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentStyleTheme</key>
	<string>reducerStateAppearance</string>
	<key>functionalAssetType</key>
	<string>behaviorActionOrigin</string>
	<key>instructionFlyweightHead</key>
	<string>scrollableOffsetBrightness</string>
	<key>navigatorViaLevel</key>
	<string>sliderWithoutMediator</string>
	<key>retainedServiceFormat</key>
	<string>cacheAboutState</string>
	<key>routePhaseLocation</key>
	<string>alertDespiteShape</string>
	<key>similarEffectSkewy</key>
	<string>criticalAlignmentCount</string>
	<key>synchronousInjectionOffset</key>
	<string>commandSingletonColor</string>
</dict>
</plist>
