<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorBesideAction</key>
	<string>queueAmongStyle</string>
	<key>associatedTopicInteraction</key>
	<string>listenerPatternShape</string>
	<key>desktopScaffoldInset</key>
	<string>decorationVarInteraction</string>
	<key>logarithmAwayAdapter</key>
	<string>decorationModeOrigin</string>
	<key>marginSinceOperation</key>
	<string>enabledSwiftTransparency</string>
	<key>missedSpriteRight</key>
	<string>mainOptimizerLocation</string>
	<key>sceneFormAlignment</key>
	<string>retainedTickerEdge</string>
	<key>screenValueInset</key>
	<string>durationAboutLevel</string>
	<key>singleAnimationInterval</key>
	<string>scrollableProviderState</string>
</dict>
</plist>
