<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryCycleCoord</key>
	<string>viewBufferValidation</string>
	<key>inheritedPlateFlags</key>
	<string>pinchablePointTension</string>
	<key>matrixForComposite</key>
	<string>webResourceShade</string>
	<key>notificationWithoutProxy</key>
	<string>numericalHashHead</string>
	<key>playbackWorkTag</key>
	<string>modelMediatorSkewx</string>
	<key>skirtSincePattern</key>
	<string>sineTemplePressure</string>
	<key>tickerLikePhase</key>
	<string>durationFunctionResponse</string>
</dict>
</plist>
