<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInsideMemento</key>
	<string>robustNormTransparency</string>
	<key>factoryFrameworkAlignment</key>
	<string>stateSingletonVisible</string>
	<key>grainTierName</key>
	<string>denseRoleTag</string>
	<key>interfaceLikeParameter</key>
	<string>bufferFunctionMargin</string>
	<key>scalePhaseVisible</key>
	<string>precisionPerMode</string>
	<key>spineJobDelay</key>
	<string>buttonValueDuration</string>
	<key>titleUntilAdapter</key>
	<string>enabledSkirtSpacing</string>
</dict>
</plist>
