<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureWithType</key>
	<string>prevRouteTop</string>
	<key>indicatorLayerShade</key>
	<string>widgetAsNumber</string>
	<key>optimizerFromProxy</key>
	<string>metadataStructureRight</string>
	<key>themeIncludeFunction</key>
	<string>captionForNumber</string>
	<key>utilStageIndex</key>
	<string>metadataShapeCoord</string>
</dict>
</plist>
