<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineJobVisible</key>
	<string>buttonBesideAdapter</string>
	<key>boxChainCenter</key>
	<string>semanticSliderTag</string>
	<key>hashBesideJob</key>
	<string>paddingViaChain</string>
	<key>observerInAction</key>
	<string>tickerKindShape</string>
	<key>queueStylePosition</key>
	<string>stepInTask</string>
	<key>responseAsMode</key>
	<string>methodMementoMode</string>
	<key>storageDecoratorShape</key>
	<string>reactiveButtonTransparency</string>
</dict>
</plist>
