<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerPerStructure</key>
	<string>notificationChainRotation</string>
	<key>metadataVersusInterpreter</key>
	<string>arithmeticContainDecorator</string>
	<key>mobileBesideSystem</key>
	<string>tabbarMethodMargin</string>
	<key>offsetFrameworkStatus</key>
	<string>displayableMomentumAlignment</string>
	<key>optionAroundSystem</key>
	<string>textOutsideKind</string>
	<key>rectLikeScope</key>
	<string>resolverForInterpreter</string>
	<key>skinDespiteWork</key>
	<string>buttonViaMediator</string>
	<key>storageObserverFeedback</key>
	<string>beginnerBinarySize</string>
</dict>
</plist>
