<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorExceptObserver</key>
	<string>symbolMediatorAppearance</string>
	<key>builderNearSystem</key>
	<string>decorationAmongInterpreter</string>
	<key>labelScopeTint</key>
	<string>routeMediatorColor</string>
	<key>listenerAwayMediator</key>
	<string>characterByMethod</string>
	<key>mobxExceptState</key>
	<string>expandedStageSize</string>
	<key>normalListviewPressure</key>
	<string>storyboardInsideStyle</string>
	<key>numericalViewHue</key>
	<string>firstSceneCoord</string>
	<key>tabbarDespiteSystem</key>
	<string>routerFacadeVelocity</string>
</dict>
</plist>
