<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAsFunction</key>
	<string>descriptorSystemOpacity</string>
	<key>featureStyleBehavior</key>
	<string>subscriptionOperationDuration</string>
	<key>grainDecoratorTop</key>
	<string>substantialMediaqueryDensity</string>
	<key>mediumFeatureMode</key>
	<string>usedFrameCenter</string>
	<key>metadataInProxy</key>
	<string>tickerThanParam</string>
	<key>textureAwayScope</key>
	<string>tickerAdapterValidation</string>
	<key>zoneViaSingleton</key>
	<string>mobileStrategyBehavior</string>
</dict>
</plist>
