<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTaskVisible</key>
	<string>navigatorForShape</string>
	<key>denseScreenLeft</key>
	<string>columnMediatorOffset</string>
	<key>semanticsProxySpeed</key>
	<string>sceneOperationType</string>
</dict>
</plist>
