<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPreviewTop</key>
	<string>interactorKindAlignment</string>
	<key>layerFromTask</key>
	<string>futureLevelSize</string>
	<key>listviewByPhase</key>
	<string>autoTimerDelay</string>
	<key>lostEffectSize</key>
	<string>indicatorSystemPosition</string>
	<key>richtextFromChain</key>
	<string>missedEntityFormat</string>
	<key>singleSwiftMomentum</key>
	<string>chapterFunctionFrequency</string>
	<key>swiftOfJob</key>
	<string>flexibleReductionTail</string>
	<key>utilAndDecorator</key>
	<string>explicitOverlayFlags</string>
	<key>widgetInterpreterSpeed</key>
	<string>sineScopeSaturation</string>
</dict>
</plist>
