<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customLocalizationName</key>
	<string>multiSubpixelOrientation</string>
	<key>custompaintAboutOperation</key>
	<string>localGiftBrightness</string>
	<key>dedicatedLabelBorder</key>
	<string>uniformAlphaAlignment</string>
	<key>gridviewPerFunction</key>
	<string>popupByPhase</string>
	<key>operationInsidePrototype</key>
	<string>pageviewLikeParam</string>
	<key>projectFromProcess</key>
	<string>callbackInsideOperation</string>
	<key>projectionProcessDirection</key>
	<string>delicatePromiseOpacity</string>
	<key>unactivatedWorkflowTransparency</key>
	<string>providerCompositeValidation</string>
	<key>usecasePerDecorator</key>
	<string>modalWithOperation</string>
</dict>
</plist>
