<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFlyweightDuration</key>
	<string>opaqueCollectionTag</string>
	<key>futureFunctionStatus</key>
	<string>challengeAmongBuffer</string>
	<key>heapAboutCommand</key>
	<string>transitionNearStage</string>
	<key>relationalAllocatorMomentum</key>
	<string>autoWorkflowKind</string>
	<key>requiredBoxshadowDelay</key>
	<string>smallPositionDuration</string>
	<key>webRequestDirection</key>
	<string>rowVersusPhase</string>
</dict>
</plist>
