<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseWithoutLayer</key>
	<string>cardAtEnvironment</string>
	<key>builderTypePressure</key>
	<string>frameInterpreterOrientation</string>
	<key>callbackAlongParam</key>
	<string>sharedActionOrigin</string>
	<key>containerStageResponse</key>
	<string>associatedDelegateAlignment</string>
	<key>dialogsIncludeProcess</key>
	<string>gramBeyondScope</string>
	<key>exceptionThanFunction</key>
	<string>accessibleRemainderStyle</string>
	<key>greatSpriteStyle</key>
	<string>sizedboxPerBuffer</string>
	<key>localizationAndBuffer</key>
	<string>cubitFormRate</string>
	<key>sinkUntilObserver</key>
	<string>intuitiveBlocCoord</string>
	<key>storageKindAppearance</key>
	<string>grainThanJob</string>
</dict>
</plist>
