<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentKindTop</key>
	<string>containerAwayMethod</string>
	<key>chartCycleAcceleration</key>
	<string>titleInsideInterpreter</string>
	<key>commandVersusStrategy</key>
	<string>stepTypeBound</string>
	<key>decorationThanStage</key>
	<string>awaitContextType</string>
	<key>difficultDocumentCenter</key>
	<string>layoutParamScale</string>
	<key>primarySpriteOpacity</key>
	<string>callbackUntilFramework</string>
	<key>textureVersusWork</key>
	<string>animatedIsolateCoord</string>
</dict>
</plist>
