<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resourceNearSystem</key>
	<string>originalCosineAcceleration</string>
	<key>scaffoldAndJob</key>
	<string>accordionOptimizerTop</string>
	<key>smartDocumentFeedback</key>
	<string>widgetFromStage</string>
	<key>ternaryOperationTheme</key>
	<string>binaryInWork</string>
</dict>
</plist>
