<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCommandLeft</key>
	<string>borderChainAcceleration</string>
	<key>decorationDespiteTask</key>
	<string>significantCycleDirection</string>
	<key>directlyHeroDuration</key>
	<string>compositionalAxisTheme</string>
	<key>imperativeInteractorRate</key>
	<string>alphaLikePhase</string>
	<key>permissiveErrorName</key>
	<string>rowEnvironmentSkewx</string>
	<key>priorityModeTheme</key>
	<string>pinchableCubitDistance</string>
	<key>synchronousTimerMode</key>
	<string>interactorVisitorOrigin</string>
	<key>themePatternPressure</key>
	<string>curveSinceChain</string>
</dict>
</plist>
