<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialToolBrightness</key>
	<string>projectionPerCycle</string>
	<key>hardStreamMode</key>
	<string>originalSessionBrightness</string>
	<key>pageviewOutsidePhase</key>
	<string>blocAboutShape</string>
	<key>rectStructureType</key>
	<string>significantMomentumSkewx</string>
</dict>
</plist>
