<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInteractorDensity</key>
	<string>denseDescriptionOffset</string>
	<key>axisAroundComposite</key>
	<string>intensityInLevel</string>
	<key>giftKindVelocity</key>
	<string>nativeCapacitiesMomentum</string>
	<key>groupDuringFacade</key>
	<string>graphUntilStage</string>
	<key>nodeTypeInterval</key>
	<string>cosineFrameworkSize</string>
	<key>sinkProcessSaturation</key>
	<string>gestureInterpreterFrequency</string>
	<key>smallBrushSkewy</key>
	<string>missionPlatformOrientation</string>
	<key>textSystemAlignment</key>
	<string>baselineIncludeMemento</string>
</dict>
</plist>
