<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTextDuration</key>
	<string>denseRichtextBorder</string>
	<key>composableCallbackDuration</key>
	<string>hardScreenVisible</string>
	<key>cursorKindSkewx</key>
	<string>activityOutsideVar</string>
	<key>globalBatchContrast</key>
	<string>notificationPatternHue</string>
	<key>indicatorDuringSingleton</key>
	<string>intuitiveStoreVisibility</string>
	<key>methodSinceInterpreter</key>
	<string>instructionWithInterpreter</string>
	<key>painterAgainstMethod</key>
	<string>nextBrushOrigin</string>
	<key>resultStyleRate</key>
	<string>typicalBehaviorKind</string>
	<key>robustListviewFlags</key>
	<string>resourcePerPrototype</string>
	<key>webObserverRate</key>
	<string>cartesianTextfieldSkewy</string>
</dict>
</plist>
