<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLabelType</key>
	<string>gradientChainDelay</string>
	<key>basicCacheTransparency</key>
	<string>remainderStateDuration</string>
	<key>customizedDelegateTail</key>
	<string>momentumStateDensity</string>
	<key>effectKindStatus</key>
	<string>consultativeAssetEdge</string>
	<key>geometricLayerInset</key>
	<string>observerOutsideStructure</string>
	<key>serviceFromPlatform</key>
	<string>petFromActivity</string>
	<key>singletonJobVelocity</key>
	<string>dependencyUntilInterpreter</string>
	<key>sliderOrTemple</key>
	<string>tableFromBuffer</string>
	<key>spotModeEdge</key>
	<string>mediaInContext</string>
</dict>
</plist>
