<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entitySinceScope</key>
	<string>directObserverType</string>
	<key>masterOrWork</key>
	<string>lostVariantScale</string>
	<key>staticStorageState</key>
	<string>mobileKindAlignment</string>
	<key>switchSinceTemple</key>
	<string>mobxProcessFeedback</string>
</dict>
</plist>
