<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerAroundBridge</key>
	<string>layoutThroughMethod</string>
	<key>liteCoordinatorTheme</key>
	<string>entityValueScale</string>
	<key>typicalDelegateFormat</key>
	<string>agileDurationLocation</string>
	<key>usecaseWithoutVar</key>
	<string>boxshadowVisitorBehavior</string>
</dict>
</plist>
