<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityTierTop</key>
	<string>marginKindAlignment</string>
	<key>labelOrParam</key>
	<string>materialUntilShape</string>
	<key>mobileBeyondStage</key>
	<string>subscriptionChainDelay</string>
	<key>queryParameterPadding</key>
	<string>previewDecoratorContrast</string>
</dict>
</plist>
