<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMenuDuration</key>
	<string>aspectOperationStyle</string>
	<key>cubitFrameworkSkewx</key>
	<string>painterInsideBuffer</string>
	<key>durationMediatorSkewx</key>
	<string>usageOperationFormat</string>
	<key>flexibleRepositoryRight</key>
	<string>elasticNavigationDirection</string>
	<key>textThroughSystem</key>
	<string>asynchronousUsageDelay</string>
	<key>topicPatternLocation</key>
	<string>loopThanLevel</string>
	<key>utilAlongChain</key>
	<string>positionLevelHead</string>
</dict>
</plist>
