<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSingletonShade</key>
	<string>directLabelFlags</string>
	<key>decorationOutsideCycle</key>
	<string>curveProcessSpeed</string>
	<key>grainAndState</key>
	<string>coordinatorEnvironmentRight</string>
	<key>intuitiveNavigationInteraction</key>
	<string>mediaqueryInMemento</string>
</dict>
</plist>
