<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedProgressbarInset</key>
	<string>storageTypeDuration</string>
	<key>controllerFacadeMomentum</key>
	<string>positionedModeSkewx</string>
	<key>coordinatorDespiteTemple</key>
	<string>gramModeBehavior</string>
	<key>durationInPattern</key>
	<string>mediumButtonAcceleration</string>
	<key>giftValueHead</key>
	<string>iconPatternMode</string>
	<key>lostStackBehavior</key>
	<string>agileBlocVisibility</string>
	<key>positionedOutsideValue</key>
	<string>nextBlocSaturation</string>
	<key>spotAtShape</key>
	<string>inkwellBridgeRight</string>
</dict>
</plist>
