<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedAtDecorator</key>
	<string>methodFacadeAppearance</string>
	<key>gemAmongBuffer</key>
	<string>sampleVersusPlatform</string>
	<key>keyChecklistLocation</key>
	<string>cursorPerEnvironment</string>
	<key>memberLayerRight</key>
	<string>autoCycleInterval</string>
	<key>publicBorderMomentum</key>
	<string>reductionSystemKind</string>
</dict>
</plist>
