<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesPrototypeFlags</key>
	<string>mutablePopupSpacing</string>
	<key>featureEnvironmentDelay</key>
	<string>toolShapeTransparency</string>
	<key>isolateFromForm</key>
	<string>asyncEventSpacing</string>
	<key>reducerLevelTransparency</key>
	<string>finalContractionColor</string>
	<key>symmetricProgressbarSaturation</key>
	<string>mobilePerMethod</string>
</dict>
</plist>
