<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSpineOffset</key>
	<string>interactorInsideTemple</string>
	<key>containerDecoratorVisible</key>
	<string>sceneActivityName</string>
	<key>draggableDelegateStyle</key>
	<string>notifierTypeContrast</string>
	<key>mutableInteractorOrientation</key>
	<string>anchorAndComposite</string>
	<key>observerValueName</key>
	<string>greatStatelessFeedback</string>
	<key>retainedDescriptorTheme</key>
	<string>smallHashColor</string>
	<key>stackWorkCount</key>
	<string>coordinatorContainCycle</string>
	<key>subtleViewVisible</key>
	<string>delegateActivityCoord</string>
	<key>symbolOrTier</key>
	<string>managerTempleShade</string>
	<key>tabbarVarFormat</key>
	<string>semanticRouterFormat</string>
</dict>
</plist>
