<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureBeyondValue</key>
	<string>iconStyleTransparency</string>
	<key>labelSingletonDepth</key>
	<string>agileFutureState</string>
	<key>materialPhaseStyle</key>
	<string>modelAsFunction</string>
	<key>navigationAdapterSize</key>
	<string>uniformCompleterRight</string>
	<key>navigationMediatorInteraction</key>
	<string>histogramOfMemento</string>
</dict>
</plist>
