<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateTempleBottom</key>
	<string>errorStateRotation</string>
	<key>flexContextDuration</key>
	<string>resourceSingletonTransparency</string>
	<key>hashAwayObserver</key>
	<string>similarCompletionSize</string>
	<key>mobileVariableSaturation</key>
	<string>controllerAlongCycle</string>
</dict>
</plist>
