<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderActivityTheme</key>
	<string>mobileAmongValue</string>
	<key>metadataWithoutInterpreter</key>
	<string>progressbarVariableInterval</string>
	<key>observerParamType</key>
	<string>resilientScreenLeft</string>
	<key>responseAgainstDecorator</key>
	<string>metadataByMemento</string>
	<key>scrollableResourceSpacing</key>
	<string>activityWithFunction</string>
	<key>vectorAndBuffer</key>
	<string>mapFormRate</string>
</dict>
</plist>
