<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchBesideWork</key>
	<string>positionDecoratorStatus</string>
	<key>capacitiesAlongDecorator</key>
	<string>statefulVarDepth</string>
	<key>effectAndShape</key>
	<string>specifyResultSpacing</string>
	<key>reducerBufferResponse</key>
	<string>listenerPlatformFormat</string>
	<key>retainedConstraintTop</key>
	<string>interactiveIntensityDelay</string>
	<key>ternarySincePhase</key>
	<string>columnSinceTemple</string>
</dict>
</plist>
