<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferSingletonShape</key>
	<string>vectorAwayTier</string>
	<key>deferredConfigurationLeft</key>
	<string>enabledNavigatorMomentum</string>
	<key>grainParameterDensity</key>
	<string>consumerFlyweightAppearance</string>
	<key>kernelPerBuffer</key>
	<string>inheritedChannelIndex</string>
	<key>layoutViaSingleton</key>
	<string>cacheAroundProcess</string>
	<key>sharedButtonFrequency</key>
	<string>inkwellFromBridge</string>
	<key>streamCompositeBound</key>
	<string>sampleContainCommand</string>
</dict>
</plist>
