<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCosineDepth</key>
	<string>similarAspectKind</string>
	<key>expandedWorkFeedback</key>
	<string>subsequentModalMomentum</string>
	<key>invisiblePopupTransparency</key>
	<string>staticHandlerTheme</string>
	<key>tableSinceObserver</key>
	<string>coordinatorLevelPressure</string>
	<key>uniformRichtextBound</key>
	<string>semanticModelResponse</string>
</dict>
</plist>
