<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFlyweightOpacity</key>
	<string>sophisticatedDescriptionType</string>
	<key>backwardChallengeSpacing</key>
	<string>singleArithmeticState</string>
	<key>clipperPlatformContrast</key>
	<string>resourceModeResponse</string>
	<key>difficultInteractorVisibility</key>
	<string>crudeCoordinatorLeft</string>
	<key>extensionActionInset</key>
	<string>exceptionActivityStyle</string>
	<key>metadataAboutVariable</key>
	<string>themeNumberBottom</string>
	<key>repositoryPatternCoord</key>
	<string>resilientDurationScale</string>
	<key>textureBeyondMemento</key>
	<string>lossInActivity</string>
	<key>transformerOfStrategy</key>
	<string>widgetBeyondState</string>
	<key>workflowModeDensity</key>
	<string>swiftAsLayer</string>
</dict>
</plist>
