<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateActionAlignment</key>
	<string>fixedViewScale</string>
	<key>featureFunctionColor</key>
	<string>previewMementoRate</string>
	<key>heroOrStructure</key>
	<string>vectorProcessRight</string>
	<key>momentumBufferShape</key>
	<string>presenterStyleOpacity</string>
	<key>monsterProxyVelocity</key>
	<string>customModelVisibility</string>
	<key>sceneStrategyDistance</key>
	<string>specifyTransformerRate</string>
</dict>
</plist>
