<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledHistogramContrast</key>
	<string>navigatorInStage</string>
	<key>localNodeTail</key>
	<string>overlayInsideProcess</string>
	<key>semanticsThanStage</key>
	<string>pointStructureMargin</string>
	<key>tickerChainVelocity</key>
	<string>activityIncludeInterpreter</string>
	<key>viewOutsideFunction</key>
	<string>sortedBoxshadowAppearance</string>
</dict>
</plist>
