<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitPatternRight</key>
	<string>reductionMediatorAlignment</string>
	<key>blocTierOrientation</key>
	<string>ephemeralInteractorMode</string>
	<key>durationCommandInteraction</key>
	<string>animationBesideBridge</string>
	<key>gradientMediatorRotation</key>
	<string>alphaActivitySkewy</string>
	<key>heroScopeInterval</key>
	<string>subsequentControllerTension</string>
	<key>symmetricConfigurationState</key>
	<string>giftViaPhase</string>
</dict>
</plist>
