<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateRichtextDistance</key>
	<string>navigatorThroughPrototype</string>
	<key>inheritedFactorySaturation</key>
	<string>plateCompositeInteraction</string>
	<key>labelUntilValue</key>
	<string>tabbarBeyondAction</string>
	<key>mobileSignatureFormat</key>
	<string>tensorToolOpacity</string>
	<key>plateAmongMethod</key>
	<string>cardTempleBehavior</string>
	<key>screenScopeLeft</key>
	<string>handlerSinceBuffer</string>
	<key>stampPrototypeTail</key>
	<string>sizeTierForce</string>
	<key>usageCompositeRate</key>
	<string>resizableTextPosition</string>
	<key>usecaseLayerCenter</key>
	<string>localRiverpodMode</string>
</dict>
</plist>
