<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFunctionSaturation</key>
	<string>frameAndVisitor</string>
	<key>effectExceptFacade</key>
	<string>uniformModelAcceleration</string>
	<key>heroSinceShape</key>
	<string>deferredNormFeedback</string>
	<key>imageOutsideSystem</key>
	<string>requestFrameworkVelocity</string>
	<key>offsetNumberCount</key>
	<string>modelParameterCoord</string>
	<key>resolverVersusComposite</key>
	<string>intensityLevelVisible</string>
	<key>routeAwayForm</key>
	<string>imageChainForce</string>
	<key>stepIncludeStructure</key>
	<string>staticLayoutSpacing</string>
	<key>subscriptionVariableForce</key>
	<string>chapterExceptScope</string>
	<key>transitionBeyondVariable</key>
	<string>featureViaCommand</string>
</dict>
</plist>
