<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaTask</key>
	<string>entityPerStructure</string>
	<key>curveViaParam</key>
	<string>assetInNumber</string>
	<key>globalTextCenter</key>
	<string>singletonSystemDuration</string>
	<key>materialStrategyInteraction</key>
	<string>otherSignatureInset</string>
	<key>overlayViaPattern</key>
	<string>hierarchicalKernelHue</string>
	<key>particleDecoratorTop</key>
	<string>usedAlertLocation</string>
	<key>projectionKindOpacity</key>
	<string>reductionAsJob</string>
	<key>touchScopeShade</key>
	<string>optimizerStructureVisible</string>
	<key>workflowAgainstParameter</key>
	<string>storeVarTag</string>
</dict>
</plist>
