<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerOutsideKind</key>
	<string>titleTypeInteraction</string>
	<key>assetDespiteInterpreter</key>
	<string>modulusBesideFacade</string>
	<key>challengeSystemTheme</key>
	<string>singletonPerEnvironment</string>
	<key>delicateTextureTint</key>
	<string>sliderThroughFacade</string>
	<key>denseThemeCoord</key>
	<string>geometricCommandSize</string>
	<key>factoryValueTransparency</key>
	<string>spotInsideAction</string>
	<key>matrixChainOffset</key>
	<string>matrixWithoutMode</string>
	<key>multiplicationSinceParam</key>
	<string>secondKernelIndex</string>
	<key>originalNavigatorFeedback</key>
	<string>stampVariableType</string>
	<key>subtlePetAlignment</key>
	<string>referenceVersusStrategy</string>
</dict>
</plist>
