<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentEnvironmentDensity</key>
	<string>collectionChainAcceleration</string>
	<key>arithmeticRowVisibility</key>
	<string>statefulAssetInteraction</string>
	<key>awaitScopeFlags</key>
	<string>singletonInterpreterColor</string>
	<key>composableMomentumVisibility</key>
	<string>keyApertureDelay</string>
	<key>difficultBorderFrequency</key>
	<string>prevGridHead</string>
	<key>kernelTaskAlignment</key>
	<string>asyncWorkInterval</string>
	<key>metadataFromPrototype</key>
	<string>mediaContextPressure</string>
	<key>mobxAwayMethod</key>
	<string>repositoryDecoratorOpacity</string>
	<key>resultAboutVariable</key>
	<string>opaqueCubitResponse</string>
	<key>synchronousZoneLocation</key>
	<string>listviewAboutLayer</string>
</dict>
</plist>
