<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerBesideTemple</key>
	<string>previewFrameworkDepth</string>
	<key>dependencyMediatorPadding</key>
	<string>effectContextDuration</string>
	<key>heroLikeFramework</key>
	<string>shaderDespiteVar</string>
	<key>independentOverlayBrightness</key>
	<string>greatAnimationMode</string>
	<key>opaquePromiseBorder</key>
	<string>similarCertificateMargin</string>
	<key>significantCharacterDistance</key>
	<string>canvasWorkBrightness</string>
	<key>streamValueAlignment</key>
	<string>modulusDuringFramework</string>
	<key>tableDuringLevel</key>
	<string>spineKindDelay</string>
</dict>
</plist>
