<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAboutOperation</key>
	<string>capsuleFormTag</string>
	<key>listenerInFramework</key>
	<string>respectiveAllocatorSize</string>
	<key>marginActionPosition</key>
	<string>otherFutureRate</string>
	<key>prevProviderBorder</key>
	<string>awaitShapeInterval</string>
	<key>storageVarDistance</key>
	<string>resolverMethodStatus</string>
	<key>subpixelActivityColor</key>
	<string>menuVariableOffset</string>
	<key>taskVersusChain</key>
	<string>mutableSwitchOffset</string>
	<key>uniqueButtonOpacity</key>
	<string>routeAsNumber</string>
</dict>
</plist>
