<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directAnimationOrigin</key>
	<string>channelFromStrategy</string>
	<key>extensionTypeSpacing</key>
	<string>beginnerResourceInset</string>
	<key>globalCaptionSize</key>
	<string>singletonAndFramework</string>
	<key>masterJobPosition</key>
	<string>interactiveLabelSaturation</string>
	<key>previewContextKind</key>
	<string>basicCheckboxShade</string>
	<key>transitionAmongContext</key>
	<string>easyRequestOpacity</string>
	<key>vectorContextDistance</key>
	<string>sophisticatedCallbackShade</string>
</dict>
</plist>
