<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBulletTop</key>
	<string>uniformCubeFlags</string>
	<key>animationStructureMomentum</key>
	<string>beginnerListenerInteraction</string>
	<key>bufferPlatformName</key>
	<string>transitionStateEdge</string>
	<key>gestureDuringEnvironment</key>
	<string>positionedOfCommand</string>
	<key>layoutProcessBottom</key>
	<string>lastGraphPosition</string>
	<key>operationFunctionVisible</key>
	<string>viewTierValidation</string>
	<key>signatureAboutMode</key>
	<string>mobileFlexCenter</string>
	<key>subsequentGridviewLeft</key>
	<string>sliderContextBorder</string>
	<key>tangentAsStyle</key>
	<string>activatedGridCoord</string>
</dict>
</plist>
