<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSlashAppearance</key>
	<string>factoryPlatformSaturation</string>
	<key>protocolCompositePadding</key>
	<string>giftParameterMargin</string>
	<key>touchOrStrategy</key>
	<string>observerNumberRight</string>
</dict>
</plist>
