<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryBeyondSystem</key>
	<string>usecaseStyleMomentum</string>
	<key>controllerExceptForm</key>
	<string>curveForCommand</string>
	<key>desktopGateEdge</key>
	<string>secondPlaybackFormat</string>
	<key>gridPrototypePadding</key>
	<string>intermediateCapsuleForce</string>
	<key>layoutChainVisibility</key>
	<string>newestGateTint</string>
	<key>localModalAppearance</key>
	<string>eagerUsageFrequency</string>
	<key>nibFunctionMode</key>
	<string>uniqueEffectPressure</string>
	<key>resolverUntilStrategy</key>
	<string>stackTypeSize</string>
</dict>
</plist>
