<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitratePhaseContrast</key>
	<string>uniqueCertificateFrequency</string>
	<key>compositionalPlateInset</key>
	<string>storyboardAdapterTint</string>
	<key>inkwellAlongState</key>
	<string>routeDespiteShape</string>
	<key>movementAgainstMode</key>
	<string>themeBufferSaturation</string>
	<key>sizeForOperation</key>
	<string>tangentAroundNumber</string>
	<key>stateContainCycle</key>
	<string>difficultConsumerVisibility</string>
	<key>uniformRowRate</key>
	<string>pinchableFragmentSpacing</string>
</dict>
</plist>
