<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandStructureShape</key>
	<string>methodContainSingleton</string>
	<key>compositionAwayMemento</key>
	<string>containerPerParameter</string>
	<key>constraintCycleSpeed</key>
	<string>requiredProviderTension</string>
	<key>expandedLikeProcess</key>
	<string>descriptionOperationVisibility</string>
	<key>indicatorWithoutPhase</key>
	<string>alphaStyleMomentum</string>
	<key>normTypeInset</key>
	<string>otherMediaqueryType</string>
	<key>paddingPerActivity</key>
	<string>giftDecoratorBound</string>
	<key>providerStageCoord</key>
	<string>tensorProfileRotation</string>
	<key>repositoryVersusJob</key>
	<string>sessionJobVelocity</string>
	<key>zoneAlongShape</key>
	<string>getxNearObserver</string>
</dict>
</plist>
