<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicResultVelocity</key>
	<string>transformerVisitorOrigin</string>
	<key>mediumTabbarDistance</key>
	<string>subtleIndicatorFormat</string>
	<key>notifierFacadeOffset</key>
	<string>swiftAndStyle</string>
	<key>offsetOfStrategy</key>
	<string>kernelPerValue</string>
	<key>paddingContextOffset</key>
	<string>singleObserverMomentum</string>
	<key>priorityByFacade</key>
	<string>repositorySingletonOffset</string>
	<key>statefulBlocBottom</key>
	<string>gramLayerSkewy</string>
	<key>usageObserverTop</key>
	<string>accessoryAtMode</string>
</dict>
</plist>
