<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSizedboxLeft</key>
	<string>equalizationBridgeDuration</string>
	<key>cursorDuringChain</key>
	<string>gestureAlongOperation</string>
	<key>drawerThanType</key>
	<string>touchCommandInteraction</string>
	<key>factoryBridgeTension</key>
	<string>segueIncludeFlyweight</string>
	<key>localizationLikeStrategy</key>
	<string>controllerNumberDensity</string>
	<key>reactiveResponseShade</key>
	<string>brushOfCommand</string>
	<key>respectiveAnchorDirection</key>
	<string>normTypeDirection</string>
	<key>tickerAgainstParameter</key>
	<string>graphMethodTransparency</string>
	<key>variantMethodFormat</key>
	<string>globalDescriptionOpacity</string>
	<key>visibleMomentumRight</key>
	<string>geometricLogResponse</string>
</dict>
</plist>
