<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerPatternDensity</key>
	<string>asyncSubscriptionRate</string>
	<key>cubitScopeContrast</key>
	<string>aspectAtAdapter</string>
	<key>globalRepositoryFrequency</key>
	<string>immediateProviderResponse</string>
	<key>handlerFromComposite</key>
	<string>descriptorAtVar</string>
	<key>particleWorkDepth</key>
	<string>boxshadowVarSpeed</string>
	<key>substantialChannelVisibility</key>
	<string>requestAtStrategy</string>
	<key>tweenOperationVisible</key>
	<string>viewAwayWork</string>
</dict>
</plist>
