<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constTopicResponse</key>
	<string>unsortedProjectionBehavior</string>
	<key>cubitDecoratorLocation</key>
	<string>canvasScopeResponse</string>
	<key>grainOrParam</key>
	<string>functionalHeapMargin</string>
	<key>hashFromPrototype</key>
	<string>sessionAgainstWork</string>
	<key>resourceCycleTransparency</key>
	<string>smartDurationResponse</string>
	<key>shaderShapeName</key>
	<string>eventLayerIndex</string>
	<key>symmetricTweenFormat</key>
	<string>callbackWithMode</string>
	<key>textAlongContext</key>
	<string>sophisticatedGetxCount</string>
</dict>
</plist>
