<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedMovementResponse</key>
	<string>masterObserverResponse</string>
	<key>agilePriorityBound</key>
	<string>semanticsAboutMemento</string>
	<key>desktopButtonType</key>
	<string>segmentAlongTask</string>
	<key>rowPatternDepth</key>
	<string>nibThanAdapter</string>
	<key>spriteCycleOpacity</key>
	<string>comprehensiveActionPressure</string>
	<key>textfieldVersusPrototype</key>
	<string>titleAdapterHead</string>
</dict>
</plist>
