<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsSystemMomentum</key>
	<string>signatureLevelLocation</string>
	<key>enabledTopicInset</key>
	<string>inheritedRadiusCoord</string>
	<key>projectionAboutValue</key>
	<string>allocatorOfCommand</string>
	<key>textureTempleVisibility</key>
	<string>curveKindResponse</string>
	<key>vectorStyleTail</key>
	<string>cellLikeParam</string>
</dict>
</plist>
