<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanNavigationTail</key>
	<string>rapidCollectionSpeed</string>
	<key>parallelKernelContrast</key>
	<string>usageLevelBorder</string>
	<key>popupPerWork</key>
	<string>transitionSystemOffset</string>
	<key>stampAgainstVisitor</key>
	<string>pivotalSignatureVelocity</string>
	<key>tickerSinceWork</key>
	<string>textfieldTempleLocation</string>
</dict>
</plist>
