<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousReferenceStyle</key>
	<string>publicFragmentBrightness</string>
	<key>decorationLayerDepth</key>
	<string>largeResourceContrast</string>
	<key>finalUsecaseMomentum</key>
	<string>allocatorInsideTask</string>
	<key>nextMissionOrigin</key>
	<string>blocUntilWork</string>
	<key>promiseOutsideStyle</key>
	<string>themeObserverBottom</string>
	<key>sliderChainContrast</key>
	<string>permanentEffectSize</string>
	<key>textfieldBesideParam</key>
	<string>standaloneCommandVisibility</string>
	<key>widgetNumberSkewx</key>
	<string>imageLayerVelocity</string>
</dict>
</plist>
