<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSingletonRight</key>
	<string>paddingMementoMode</string>
	<key>elasticLabelOrigin</key>
	<string>crucialScrollRate</string>
	<key>giftEnvironmentForce</key>
	<string>handlerWithoutVisitor</string>
	<key>normalGramLocation</key>
	<string>prismaticRouterSpacing</string>
	<key>similarSkinDistance</key>
	<string>typicalMenuVisibility</string>
	<key>taskOutsideDecorator</key>
	<string>missionPhaseAppearance</string>
	<key>uniformStoreTint</key>
	<string>tickerFacadeTop</string>
</dict>
</plist>
