<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileNavigatorSpacing</key>
	<string>menuLevelOffset</string>
	<key>expandedValueBound</key>
	<string>rectFrameworkName</string>
	<key>materialMissionDensity</key>
	<string>variantOrScope</string>
	<key>nodeMementoType</key>
	<string>composableNavigationPadding</string>
	<key>offsetVersusPrototype</key>
	<string>opaqueMomentumSkewy</string>
	<key>sharedCustompaintFlags</key>
	<string>requiredActionTint</string>
	<key>slashAmongShape</key>
	<string>popupSinceObserver</string>
</dict>
</plist>
