<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonExceptCommand</key>
	<string>graphParameterOrientation</string>
	<key>extensionValueTransparency</key>
	<string>largeStoreBound</string>
	<key>factoryMementoOrigin</key>
	<string>comprehensiveLocalizationStatus</string>
	<key>hierarchicalTextfieldTension</key>
	<string>reducerUntilMediator</string>
	<key>precisionVariableColor</key>
	<string>layerVisitorCount</string>
	<key>sineOrStyle</key>
	<string>resourceLayerShape</string>
	<key>taskCommandOrientation</key>
	<string>painterUntilStructure</string>
</dict>
</plist>
