<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSystemEdge</key>
	<string>errorNumberOrigin</string>
	<key>commonRequestTop</key>
	<string>effectVisitorKind</string>
	<key>cubitShapeTag</key>
	<string>immutableConsumerIndex</string>
	<key>durationPatternTension</key>
	<string>instructionModeValidation</string>
	<key>grainFromState</key>
	<string>indicatorStructureBound</string>
	<key>grainThanBridge</key>
	<string>alphaActionForce</string>
	<key>mediumAlphaLocation</key>
	<string>currentNodeSaturation</string>
	<key>projectionAmongStrategy</key>
	<string>sortedChartVelocity</string>
	<key>scrollablePositionSpacing</key>
	<string>switchOutsidePrototype</string>
</dict>
</plist>
