<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardWithoutComposite</key>
	<string>streamLikeBuffer</string>
	<key>invisibleTextSpeed</key>
	<string>priorAllocatorBound</string>
	<key>materialSceneEdge</key>
	<string>clipperJobTail</string>
</dict>
</plist>
