<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFunctionInterval</key>
	<string>localizationAndShape</string>
	<key>allocatorParameterInset</key>
	<string>groupBeyondParameter</string>
	<key>localCoordinatorShade</key>
	<string>drawerInMode</string>
	<key>stackAroundVariable</key>
	<string>chapterNearJob</string>
	<key>viewInterpreterOrigin</key>
	<string>eventFacadeFormat</string>
</dict>
</plist>
