<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasBufferState</key>
	<string>flexibleBlocAppearance</string>
	<key>certificateBridgeLocation</key>
	<string>groupAsBuffer</string>
	<key>checkboxFromWork</key>
	<string>factoryShapeValidation</string>
	<key>persistentStreamInteraction</key>
	<string>retainedControllerDistance</string>
	<key>popupThroughType</key>
	<string>constraintInsideVar</string>
	<key>queueByState</key>
	<string>reusableNavigatorStatus</string>
	<key>reducerWithoutParameter</key>
	<string>boxAboutStructure</string>
	<key>widgetDespiteType</key>
	<string>uniformScaleRotation</string>
</dict>
</plist>
