<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityPatternBehavior</key>
	<string>axisFacadeSpacing</string>
	<key>advancedDropdownbuttonBrightness</key>
	<string>asynchronousOverlayDuration</string>
	<key>agileDecorationFlags</key>
	<string>assetExceptBridge</string>
	<key>awaitAsTask</key>
	<string>iconPatternShade</string>
	<key>durationProxyFlags</key>
	<string>commandFormStatus</string>
	<key>gemWorkName</key>
	<string>tweenNumberPadding</string>
	<key>temporaryUnaryAppearance</key>
	<string>projectionAgainstShape</string>
	<key>tensorBinaryIndex</key>
	<string>signKindAcceleration</string>
	<key>widgetPhaseCoord</key>
	<string>hierarchicalCollectionInterval</string>
</dict>
</plist>
