<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerStructureFrequency</key>
	<string>vectorShapeFeedback</string>
	<key>boxExceptPhase</key>
	<string>managerBridgeSpacing</string>
	<key>directlyProjectionTransparency</key>
	<string>handlerTaskCount</string>
	<key>featureAlongStrategy</key>
	<string>tangentSincePrototype</string>
	<key>multiplicationSinceLayer</key>
	<string>protocolAwayFlyweight</string>
	<key>textOfLevel</key>
	<string>routeBridgeVisibility</string>
	<key>webMobxIndex</key>
	<string>plateContainInterpreter</string>
</dict>
</plist>
