<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAdapterTheme</key>
	<string>specifyDependencyFrequency</string>
	<key>cacheBufferTag</key>
	<string>similarChartFeedback</string>
	<key>decorationUntilDecorator</key>
	<string>consultativeCompositionOrigin</string>
	<key>grayscaleFacadeOrigin</key>
	<string>prevModelFeedback</string>
	<key>metadataIncludeEnvironment</key>
	<string>substantialPresenterBound</string>
	<key>pageviewWithoutFunction</key>
	<string>masterSinceSingleton</string>
	<key>rapidExtensionOffset</key>
	<string>observerNearStyle</string>
	<key>rapidThreadTransparency</key>
	<string>usecaseTempleShape</string>
</dict>
</plist>
