<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSystemOrigin</key>
	<string>spriteStyleInteraction</string>
	<key>delicateTransitionIndex</key>
	<string>mediocreModalVisible</string>
	<key>entropyParameterTransparency</key>
	<string>resizableServiceSkewy</string>
	<key>hashParameterBottom</key>
	<string>cubeDecoratorStatus</string>
	<key>integerNearStructure</key>
	<string>buttonByParam</string>
	<key>projectProxyBorder</key>
	<string>injectionLevelName</string>
	<key>sineOperationVisibility</key>
	<string>specifyGridSkewx</string>
	<key>threadAroundComposite</key>
	<string>baseUntilWork</string>
	<key>toolAwayPlatform</key>
	<string>priorityIncludeType</string>
</dict>
</plist>
