<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAboutPrototype</key>
	<string>semanticChartFormat</string>
	<key>cubitAwayKind</key>
	<string>sizedboxContainMethod</string>
	<key>imperativeStreamShade</key>
	<string>behaviorShapeScale</string>
	<key>loopKindFrequency</key>
	<string>indicatorActivityResponse</string>
	<key>navigatorTierHead</key>
	<string>monsterFlyweightLeft</string>
	<key>projectionAgainstSingleton</key>
	<string>topicInsideCycle</string>
	<key>queryThroughInterpreter</key>
	<string>stepCommandBehavior</string>
</dict>
</plist>
