<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperLayerFlags</key>
	<string>listenerInterpreterAlignment</string>
	<key>operationLevelDensity</key>
	<string>alertChainSkewx</string>
	<key>prevGateAppearance</key>
	<string>accessibleSignatureShape</string>
	<key>vectorStageState</key>
	<string>chapterTempleOffset</string>
	<key>workflowForShape</key>
	<string>descriptionSystemInset</string>
</dict>
</plist>
