<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartChainSkewy</key>
	<string>semanticsFrameworkDistance</string>
	<key>curveAmongCycle</key>
	<string>custompaintWithProcess</string>
	<key>delegateActivityPressure</key>
	<string>unaryAtParam</string>
	<key>finalChannelName</key>
	<string>accessiblePetFeedback</string>
	<key>iterativeTitleForce</key>
	<string>drawerByForm</string>
	<key>lastCosineInset</key>
	<string>blocAgainstAction</string>
	<key>sizeKindLocation</key>
	<string>invisibleHashEdge</string>
	<key>sizeTierIndex</key>
	<string>scaleMediatorInterval</string>
	<key>storageThanScope</key>
	<string>basicStorageDelay</string>
</dict>
</plist>
