<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearAction</key>
	<string>errorStrategyStyle</string>
	<key>associatedDecorationSkewy</key>
	<string>observerInFacade</string>
	<key>completerOutsideInterpreter</key>
	<string>captionStructureOpacity</string>
	<key>constraintBufferBound</key>
	<string>protectedLogOrientation</string>
	<key>handlerOrPrototype</key>
	<string>providerShapePosition</string>
	<key>normalSizeIndex</key>
	<string>aspectOutsideKind</string>
	<key>scrollBufferFormat</key>
	<string>concurrentCompleterRight</string>
	<key>significantAxisRotation</key>
	<string>transitionAsProcess</string>
	<key>taskLevelTheme</key>
	<string>elasticModalBehavior</string>
	<key>widgetAgainstVariable</key>
	<string>standaloneOptionAppearance</string>
</dict>
</plist>
