<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerInterpreterShade</key>
	<string>activatedPromiseForce</string>
	<key>logAdapterDepth</key>
	<string>pointBeyondContext</string>
	<key>publicRequestPressure</key>
	<string>heroOfActivity</string>
</dict>
</plist>
