<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateCompositeBottom</key>
	<string>symbolFunctionSaturation</string>
	<key>mobileNavigatorDistance</key>
	<string>autoCellColor</string>
	<key>operationIncludeMediator</key>
	<string>notifierWorkFormat</string>
	<key>requestInStrategy</key>
	<string>compositionThroughTask</string>
	<key>sizeThanVariable</key>
	<string>factoryAlongEnvironment</string>
</dict>
</plist>
