<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveModeAlignment</key>
	<string>routeFrameworkMargin</string>
	<key>dynamicPresenterCenter</key>
	<string>observerFrameworkRate</string>
	<key>giftThanDecorator</key>
	<string>crudeDecorationDelay</string>
	<key>hyperbolicEffectTail</key>
	<string>intermediateTabbarIndex</string>
	<key>nibVariableSpeed</key>
	<string>storeProxyTop</string>
</dict>
</plist>
