<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoCoordinatorFlags</key>
	<string>visibleSkinBound</string>
	<key>fragmentChainHue</key>
	<string>transformerCommandContrast</string>
	<key>layoutParameterFlags</key>
	<string>consultativeNodePadding</string>
	<key>missionShapeSpeed</key>
	<string>specifyAnimationDepth</string>
	<key>routeBeyondForm</key>
	<string>fragmentActionInterval</string>
	<key>workflowBufferTail</key>
	<string>deferredExtensionFrequency</string>
</dict>
</plist>
