<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAroundWork</key>
	<string>futureActionIndex</string>
	<key>interactorFromDecorator</key>
	<string>touchCommandVelocity</string>
	<key>labelLevelRotation</key>
	<string>multiplicationNumberFeedback</string>
	<key>respectiveParticleType</key>
	<string>interfaceFrameworkDepth</string>
	<key>tensorSizeState</key>
	<string>advancedCacheFrequency</string>
	<key>unsortedTabviewDistance</key>
	<string>subscriptionBridgePressure</string>
</dict>
</plist>
