<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMapMode</key>
	<string>specifierContainDecorator</string>
	<key>activityVersusLayer</key>
	<string>labelForStyle</string>
	<key>managerFacadeAppearance</key>
	<string>crucialPopupShape</string>
	<key>navigationNumberEdge</key>
	<string>columnThanMemento</string>
	<key>protocolOfStructure</key>
	<string>factoryWithPattern</string>
</dict>
</plist>
