<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousQueueSkewy</key>
	<string>usedContainerInterval</string>
	<key>effectTypeTag</key>
	<string>positionNumberSkewx</string>
	<key>labelVarColor</key>
	<string>tensorThreadName</string>
	<key>progressbarOutsideSystem</key>
	<string>lastHeapShape</string>
	<key>queueJobTint</key>
	<string>futureContainWork</string>
	<key>storageObserverTag</key>
	<string>flexibleUtilDensity</string>
	<key>transitionInCommand</key>
	<string>metadataAwayVariable</string>
</dict>
</plist>
