<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearOperation</key>
	<string>mediaqueryStructureVisibility</string>
	<key>criticalSubscriptionPressure</key>
	<string>hashMediatorFlags</string>
	<key>dimensionFlyweightPosition</key>
	<string>iterativeSpecifierSize</string>
	<key>heapAwayWork</key>
	<string>criticalBufferCoord</string>
	<key>integerFunctionMargin</key>
	<string>globalClipperBorder</string>
	<key>stepOutsideState</key>
	<string>dropdownbuttonKindVisible</string>
</dict>
</plist>
