<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSineInset</key>
	<string>gridviewCommandDirection</string>
	<key>completerModeEdge</key>
	<string>constraintIncludeSystem</string>
	<key>compositionalRowState</key>
	<string>arithmeticViaNumber</string>
	<key>dimensionAtTemple</key>
	<string>significantPetDelay</string>
	<key>mediaAtStrategy</key>
	<string>dynamicChapterRotation</string>
	<key>methodSinceParameter</key>
	<string>timerStructureBorder</string>
	<key>mutableSizeCount</key>
	<string>usageAboutPhase</string>
	<key>opaqueBoxHue</key>
	<string>boxshadowOutsideTier</string>
	<key>resultNumberBottom</key>
	<string>reactiveBuilderVelocity</string>
	<key>streamStateOffset</key>
	<string>curveFromVar</string>
</dict>
</plist>
