<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxThanStage</key>
	<string>getxScopeRotation</string>
	<key>captionInsideFlyweight</key>
	<string>injectionActivityRate</string>
	<key>mediumCatalystFlags</key>
	<string>titleThanFlyweight</string>
	<key>popupVarStatus</key>
	<string>spriteJobDepth</string>
	<key>smartTernaryFlags</key>
	<string>particleMediatorTheme</string>
</dict>
</plist>
