<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarySincePattern</key>
	<string>liteCupertinoTension</string>
	<key>hyperbolicHandlerTint</key>
	<string>rectOutsideMode</string>
	<key>permanentExceptionHue</key>
	<string>cycleContainVisitor</string>
	<key>queryActionTheme</key>
	<string>methodAmongFlyweight</string>
	<key>significantMobileFeedback</key>
	<string>curveBesideOperation</string>
	<key>spriteContainPhase</key>
	<string>protocolNearProcess</string>
	<key>storyboardPerPlatform</key>
	<string>listenerAgainstVar</string>
</dict>
</plist>
