<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveObserverDelay</key>
	<string>finalPositionVelocity</string>
	<key>hyperbolicAxisTransparency</key>
	<string>controllerInterpreterMomentum</string>
	<key>nodePerValue</key>
	<string>previewFrameworkInteraction</string>
	<key>positionUntilShape</key>
	<string>durationForCycle</string>
</dict>
</plist>
