<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleVariableInteraction</key>
	<string>screenContextPressure</string>
	<key>completerIncludeTier</key>
	<string>nodeInsideSingleton</string>
	<key>independentReferenceRate</key>
	<string>canvasContainActivity</string>
	<key>tickerForCommand</key>
	<string>criticalBaseIndex</string>
</dict>
</plist>
