<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackPerCommand</key>
	<string>opaqueGrainHead</string>
	<key>cartesianTweenTransparency</key>
	<string>usecaseWorkTint</string>
	<key>concurrentFactoryVisibility</key>
	<string>beginnerBuilderTransparency</string>
	<key>responsiveCoordinatorSaturation</key>
	<string>petAboutPattern</string>
	<key>scaleOrMode</key>
	<string>arithmeticPopupDuration</string>
	<key>zoneFacadeBehavior</key>
	<string>primaryStreamTension</string>
	<key>zonePatternEdge</key>
	<string>capacitiesInsideTemple</string>
</dict>
</plist>
