<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentIncludeJob</key>
	<string>projectionNearPattern</string>
	<key>anchorPerFlyweight</key>
	<string>secondFactorySaturation</string>
	<key>comprehensiveResourceShade</key>
	<string>multiplicationObserverOrigin</string>
	<key>queueThanValue</key>
	<string>getxSystemBorder</string>
	<key>seamlessSpineScale</key>
	<string>lossVarVisible</string>
</dict>
</plist>
