<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorActionDepth</key>
	<string>grayscaleThanBridge</string>
	<key>curveDecoratorStyle</key>
	<string>memberViaVariable</string>
	<key>futurePerState</key>
	<string>normMediatorTheme</string>
	<key>materialActionCount</key>
	<string>drawerOperationStatus</string>
	<key>permissiveAlignmentDensity</key>
	<string>activityAgainstPhase</string>
	<key>prismaticTableStyle</key>
	<string>spriteAsKind</string>
	<key>remainderOperationStatus</key>
	<string>sequentialContainerResponse</string>
	<key>sessionFrameworkForce</key>
	<string>modelIncludeScope</string>
	<key>specifyTextureScale</key>
	<string>transitionSinceScope</string>
	<key>sustainableDecorationBehavior</key>
	<string>dependencyAroundKind</string>
</dict>
</plist>
