<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAndFunction</key>
	<string>bufferActionMode</string>
	<key>coordinatorPerVar</key>
	<string>dialogsMediatorFrequency</string>
	<key>flexProxyOpacity</key>
	<string>intensityPerTemple</string>
	<key>resolverNearDecorator</key>
	<string>frameSystemContrast</string>
	<key>sceneParamRotation</key>
	<string>storageContainMemento</string>
	<key>statelessSliderLocation</key>
	<string>batchShapeFrequency</string>
	<key>titleJobForce</key>
	<string>cellLikeSingleton</string>
	<key>usedGradientTension</key>
	<string>isolateStyleSize</string>
</dict>
</plist>
