<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveOptionTop</key>
	<string>disabledTickerTheme</string>
	<key>granularObserverBehavior</key>
	<string>instructionPrototypeName</string>
	<key>sizeBridgeShade</key>
	<string>sliderSinceTemple</string>
</dict>
</plist>
