<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customGrainDelay</key>
	<string>entityFromTier</string>
	<key>ephemeralFrameResponse</key>
	<string>effectChainHue</string>
	<key>interactiveFutureState</key>
	<string>entityForScope</string>
	<key>metadataInTier</key>
	<string>intermediateBitrateLocation</string>
	<key>methodAwayStructure</key>
	<string>pinchableTransitionCenter</string>
	<key>permanentModalLocation</key>
	<string>queueVarDensity</string>
</dict>
</plist>
