<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocParamBehavior</key>
	<string>chartUntilAdapter</string>
	<key>coordinatorBeyondParam</key>
	<string>directToolTransparency</string>
	<key>disparateGesturedetectorDistance</key>
	<string>radioJobVelocity</string>
	<key>offsetMethodSaturation</key>
	<string>interactorAboutAction</string>
	<key>priorProviderState</key>
	<string>dropdownbuttonProcessBorder</string>
	<key>projectCommandTransparency</key>
	<string>greatCurveName</string>
	<key>resizableTransitionEdge</key>
	<string>interfaceOrSingleton</string>
	<key>sizeViaPattern</key>
	<string>documentFromEnvironment</string>
	<key>streamProxySaturation</key>
	<string>viewAndVisitor</string>
</dict>
</plist>
