<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanRichtextState</key>
	<string>coordinatorLayerFeedback</string>
	<key>gridviewDuringProxy</key>
	<string>declarativePopupTail</string>
	<key>hierarchicalBlocTransparency</key>
	<string>awaitForWork</string>
	<key>interactorBesideType</key>
	<string>uniformScaffoldLocation</string>
	<key>singleSkirtLocation</key>
	<string>symbolAgainstAction</string>
</dict>
</plist>
