<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalHeroName</key>
	<string>typicalAlphaInset</string>
	<key>gesturedetectorActionTransparency</key>
	<string>interfaceFunctionBehavior</string>
	<key>hardChannelsTheme</key>
	<string>keyTransitionDirection</string>
	<key>listviewWithCycle</key>
	<string>customizedRowMode</string>
	<key>primaryGrainSize</key>
	<string>skinWithShape</string>
	<key>progressbarNearSystem</key>
	<string>enabledMetadataIndex</string>
	<key>sliderBridgeVelocity</key>
	<string>gramMementoOrientation</string>
</dict>
</plist>
