<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAndParam</key>
	<string>clipperAgainstWork</string>
	<key>appbarBufferFeedback</key>
	<string>inheritedIsolateDistance</string>
	<key>assetTypeAppearance</key>
	<string>builderValueType</string>
	<key>cupertinoBufferHead</key>
	<string>elasticMenuBrightness</string>
	<key>durationVariableMomentum</key>
	<string>navigatorShapeBrightness</string>
	<key>indicatorAgainstSystem</key>
	<string>cosineContainActivity</string>
	<key>textPatternLeft</key>
	<string>associatedTransformerSize</string>
</dict>
</plist>
