<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedGateInterval</key>
	<string>robustOffsetPadding</string>
	<key>clipperEnvironmentDirection</key>
	<string>decorationAgainstLevel</string>
	<key>completerModePosition</key>
	<string>interactorAmongAction</string>
	<key>explicitRiverpodSpeed</key>
	<string>errorUntilFlyweight</string>
	<key>isolateEnvironmentLocation</key>
	<string>providerAsStage</string>
	<key>publicClipperBound</key>
	<string>composableSkinTag</string>
	<key>richtextExceptType</key>
	<string>graphicCompositeMomentum</string>
</dict>
</plist>
