<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAtPrototype</key>
	<string>keySinkDelay</string>
	<key>lastListenerPosition</key>
	<string>sophisticatedContainerTension</string>
	<key>mobileViaParameter</key>
	<string>subscriptionAboutFramework</string>
	<key>offsetUntilObserver</key>
	<string>rectTempleSaturation</string>
	<key>rowMethodPressure</key>
	<string>specifierProxyCount</string>
	<key>sophisticatedBaselineDirection</key>
	<string>oldAsyncShade</string>
	<key>stackPatternInterval</key>
	<string>skinSystemTension</string>
	<key>viewStrategyHead</key>
	<string>shaderProcessType</string>
</dict>
</plist>
