<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintBridgePressure</key>
	<string>variantAndMemento</string>
	<key>durationVarMomentum</key>
	<string>statefulOperationScale</string>
	<key>graphicFromForm</key>
	<string>binaryOutsideParam</string>
	<key>hierarchicalEqualizationOrientation</key>
	<string>labelLikeForm</string>
	<key>paddingLikeInterpreter</key>
	<string>delicateAspectratioInterval</string>
	<key>profilePhaseTension</key>
	<string>concurrentCapsuleFormat</string>
	<key>queueThanFlyweight</key>
	<string>draggableDurationSpacing</string>
	<key>semanticPageviewHue</key>
	<string>effectOfLevel</string>
	<key>tabviewDecoratorVisibility</key>
	<string>equalizationDespiteLevel</string>
	<key>tickerActionShade</key>
	<string>compositionWorkKind</string>
</dict>
</plist>
