<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonKindSkewx</key>
	<string>gridAboutDecorator</string>
	<key>sliderTaskBrightness</key>
	<string>baselineVariableSkewy</string>
	<key>textVersusState</key>
	<string>substantialBaseDensity</string>
	<key>tweenStyleBottom</key>
	<string>reusableStatefulTension</string>
</dict>
</plist>
