<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocBesidePhase</key>
	<string>richtextIncludeKind</string>
	<key>firstAnimationFlags</key>
	<string>nibVersusLevel</string>
	<key>notificationMethodRate</key>
	<string>actionWithFunction</string>
	<key>positionPlatformBehavior</key>
	<string>previewTierInteraction</string>
	<key>promiseTempleTension</key>
	<string>transformerTempleAcceleration</string>
	<key>promiseUntilWork</key>
	<string>routeFormVelocity</string>
	<key>sequentialSpecifierDuration</key>
	<string>heapMementoInteraction</string>
	<key>unactivatedTaskPadding</key>
	<string>transitionEnvironmentSkewy</string>
	<key>unsortedCanvasSpeed</key>
	<string>assetJobCoord</string>
	<key>utilAlongParameter</key>
	<string>greatUsecaseIndex</string>
</dict>
</plist>
