<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureNearStructure</key>
	<string>entropyTierValidation</string>
	<key>autoSpriteOffset</key>
	<string>utilModeMargin</string>
	<key>disabledScaleValidation</key>
	<string>compositionalMemberDelay</string>
	<key>exponentTypeResponse</key>
	<string>nodeAdapterScale</string>
	<key>gridJobAppearance</key>
	<string>commandVersusKind</string>
	<key>nodeFromPlatform</key>
	<string>intuitiveResolverHead</string>
	<key>playbackMementoName</key>
	<string>gramWithObserver</string>
	<key>playbackWithBuffer</key>
	<string>notificationOrMediator</string>
	<key>presenterProcessBorder</key>
	<string>nativeDialogsDensity</string>
	<key>semanticStackCoord</key>
	<string>methodJobTail</string>
</dict>
</plist>
