<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEquipmentBehavior</key>
	<string>sensorStageDirection</string>
	<key>consultativeDescriptionBehavior</key>
	<string>grainThroughVisitor</string>
	<key>storeAdapterCenter</key>
	<string>directlyParticleFrequency</string>
</dict>
</plist>
