<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeTransparency</key>
	<string>extensionSystemTop</string>
	<key>storageAmongTask</key>
	<string>factoryParameterHead</string>
	<key>taskPerStage</key>
	<string>usedAwaitIndex</string>
	<key>temporaryStoreDirection</key>
	<string>rowByStage</string>
</dict>
</plist>
