<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasMementoTint</key>
	<string>binaryStageTop</string>
	<key>channelAdapterBound</key>
	<string>storeAndForm</string>
	<key>errorMementoShape</key>
	<string>decorationBridgeSize</string>
	<key>grayscaleDuringContext</key>
	<string>cubitContainOperation</string>
	<key>heapUntilShape</key>
	<string>navigationAmongStrategy</string>
	<key>lastFactoryStatus</key>
	<string>inheritedTextFlags</string>
	<key>retainedClipperInterval</key>
	<string>builderAlongState</string>
	<key>similarAwaitTheme</key>
	<string>backwardCardMargin</string>
</dict>
</plist>
