<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAsVariable</key>
	<string>asyncByPhase</string>
	<key>customizedDecorationDensity</key>
	<string>loopOfFramework</string>
	<key>diversifiedPopupVisibility</key>
	<string>segueWithWork</string>
	<key>multiplicationAtShape</key>
	<string>querySystemTail</string>
	<key>permissiveCaptionTail</key>
	<string>globalDurationVisible</string>
	<key>resourceVariableDuration</key>
	<string>ignoredSubscriptionColor</string>
	<key>spotSingletonPadding</key>
	<string>awaitProcessCenter</string>
	<key>titleAtFacade</key>
	<string>cosineThanStrategy</string>
	<key>tweenOperationOffset</key>
	<string>streamVisitorName</string>
	<key>unaryViaFunction</key>
	<string>textureInsideShape</string>
</dict>
</plist>
