<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationKindScale</key>
	<string>certificateFacadeTop</string>
	<key>groupFrameworkCount</key>
	<string>graphicChainCount</string>
	<key>keyLogLeft</key>
	<string>uniqueTransformerDuration</string>
	<key>rapidTaskPressure</key>
	<string>localizationTypeVisible</string>
	<key>secondGridviewMargin</key>
	<string>injectionCycleMomentum</string>
</dict>
</plist>
