<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableResourceInterval</key>
	<string>explicitCompletionPressure</string>
	<key>delicateErrorTop</key>
	<string>consumerThroughStyle</string>
	<key>elasticUsageEdge</key>
	<string>scaleShapeTint</string>
	<key>interfaceShapeSpeed</key>
	<string>loopWithoutJob</string>
	<key>notifierLevelHead</key>
	<string>intuitiveGraphTint</string>
	<key>publicNormSpacing</key>
	<string>shaderLayerFrequency</string>
	<key>tabbarFunctionColor</key>
	<string>spineOutsideState</string>
</dict>
</plist>
