<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterPhaseFlags</key>
	<string>tickerBeyondStage</string>
	<key>listviewOrForm</key>
	<string>assetExceptMemento</string>
	<key>previewFlyweightOpacity</key>
	<string>matrixOperationInterval</string>
	<key>prismaticTitleRate</key>
	<string>dependencySincePhase</string>
	<key>sustainableAnimationDepth</key>
	<string>blocAroundOperation</string>
</dict>
</plist>
