<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderContainPlatform</key>
	<string>certificateActionFormat</string>
	<key>persistentIntensityEdge</key>
	<string>completionUntilJob</string>
	<key>plateLevelSkewy</key>
	<string>comprehensiveRadiusDistance</string>
	<key>resourceByVar</key>
	<string>robustEventInteraction</string>
	<key>storeIncludeTemple</key>
	<string>spriteAwayLayer</string>
</dict>
</plist>
