<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseCommandBottom</key>
	<string>sensorAsOperation</string>
	<key>boxshadowNearVisitor</key>
	<string>chapterVersusBuffer</string>
	<key>controllerInsideScope</key>
	<string>spriteWithFramework</string>
	<key>cycleAmongPattern</key>
	<string>characterBesideMode</string>
	<key>discardedBaselineVisible</key>
	<string>configurationCommandTransparency</string>
	<key>interfaceDuringNumber</key>
	<string>specifierLayerVisibility</string>
	<key>normalNotifierFormat</key>
	<string>comprehensiveCanvasState</string>
	<key>viewNearPhase</key>
	<string>diffableResourceDelay</string>
	<key>widgetPrototypeVisibility</key>
	<string>interactorCompositeDepth</string>
</dict>
</plist>
