<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewLevelType</key>
	<string>fragmentTypeIndex</string>
	<key>immediateTopicMargin</key>
	<string>sophisticatedLabelColor</string>
	<key>keyContractionInterval</key>
	<string>isolateSincePattern</string>
	<key>nibNumberRate</key>
	<string>previewAtBridge</string>
	<key>precisionStyleTop</key>
	<string>stackThanValue</string>
	<key>relationalHashTheme</key>
	<string>normalGrainTheme</string>
	<key>sustainableMovementSkewy</key>
	<string>sliderLevelHead</string>
</dict>
</plist>
