<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxPatternEdge</key>
	<string>statefulDecoratorForce</string>
	<key>delegateBridgeVisible</key>
	<string>desktopRouterBrightness</string>
	<key>eventTypeInterval</key>
	<string>batchFlyweightVisible</string>
	<key>futurePrototypeDepth</key>
	<string>sliderByStructure</string>
	<key>lastModelContrast</key>
	<string>textfieldBufferOffset</string>
	<key>playbackVarFeedback</key>
	<string>sortedDelegateAlignment</string>
	<key>prevConsumerIndex</key>
	<string>difficultParticleTop</string>
	<key>requestExceptTier</key>
	<string>menuAdapterBrightness</string>
	<key>sliderAtStyle</key>
	<string>interactorNearKind</string>
	<key>tabviewSinceMemento</key>
	<string>modalVisitorSpeed</string>
</dict>
</plist>
