<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTextRate</key>
	<string>offsetAgainstMediator</string>
	<key>curveStrategyColor</key>
	<string>errorProcessInteraction</string>
	<key>decorationAboutBridge</key>
	<string>sliderOrCycle</string>
	<key>entropyStageOffset</key>
	<string>responsiveScaleColor</string>
	<key>geometricGrainVisibility</key>
	<string>compositionalPopupTint</string>
	<key>lossScopeName</key>
	<string>symbolThroughMemento</string>
	<key>navigatorByVariable</key>
	<string>graphicVisitorLeft</string>
	<key>synchronousChannelBrightness</key>
	<string>offsetWithParam</string>
	<key>synchronousSpotLeft</key>
	<string>statelessStateStyle</string>
	<key>tappableUsecaseSpacing</key>
	<string>usedSingletonVelocity</string>
</dict>
</plist>
