<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledCoordinatorCount</key>
	<string>mainCaptionHead</string>
	<key>layoutThanActivity</key>
	<string>isolateShapeValidation</string>
	<key>movementUntilWork</key>
	<string>elasticEntropyPosition</string>
	<key>otherSizedboxShade</key>
	<string>transformerTempleScale</string>
	<key>sliderForMemento</key>
	<string>respectiveResultPadding</string>
	<key>uniqueHandlerStyle</key>
	<string>promisePrototypeMode</string>
</dict>
</plist>
