<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMenuMomentum</key>
	<string>layoutVisitorAcceleration</string>
	<key>chartDecoratorPosition</key>
	<string>workflowOfKind</string>
	<key>compositionalConfigurationMomentum</key>
	<string>rapidPaddingInset</string>
	<key>custompaintFromNumber</key>
	<string>compositionalTouchState</string>
	<key>entityEnvironmentBrightness</key>
	<string>topicStageRotation</string>
	<key>extensionDespiteAction</key>
	<string>getxOutsidePrototype</string>
	<key>giftSystemDirection</key>
	<string>tabviewSingletonInterval</string>
	<key>routerBeyondProcess</key>
	<string>widgetProxyBehavior</string>
</dict>
</plist>
