<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandWorkTension</key>
	<string>serviceCompositePosition</string>
	<key>directlyDelegateName</key>
	<string>batchBySystem</string>
	<key>reactiveRouteStatus</key>
	<string>directlyChecklistFrequency</string>
	<key>routeMethodTransparency</key>
	<string>reductionActionStyle</string>
	<key>sliderJobState</key>
	<string>largeHashDistance</string>
</dict>
</plist>
