<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasActivityDuration</key>
	<string>independentGraphSize</string>
	<key>delicateCommandCenter</key>
	<string>liteProjectionDistance</string>
	<key>directlySingletonFlags</key>
	<string>heroBeyondDecorator</string>
	<key>independentAlphaTail</key>
	<string>gridviewActionTail</string>
	<key>lossStructureInteraction</key>
	<string>asyncVersusMode</string>
	<key>monsterMementoFlags</key>
	<string>sinkEnvironmentTheme</string>
	<key>viewAndParameter</key>
	<string>grayscaleTempleTint</string>
</dict>
</plist>
