<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAtPlatform</key>
	<string>discardedModalBound</string>
	<key>asyncProjectionAppearance</key>
	<string>actionSingletonResponse</string>
	<key>cubeSystemTension</key>
	<string>requiredCommandDelay</string>
	<key>decorationIncludeJob</key>
	<string>ignoredEffectCoord</string>
	<key>difficultAllocatorMargin</key>
	<string>currentProjectColor</string>
	<key>frameOperationColor</key>
	<string>coordinatorStateSkewx</string>
	<key>indicatorWorkSkewx</key>
	<string>interpolationMementoMode</string>
	<key>kernelOrFlyweight</key>
	<string>typicalParticleKind</string>
	<key>previewDespiteKind</key>
	<string>controllerFormTheme</string>
	<key>secondBaseAppearance</key>
	<string>marginOperationContrast</string>
</dict>
</plist>
