<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeHashVisible</key>
	<string>finalTabbarTint</string>
	<key>drawerFormBrightness</key>
	<string>mediaStructurePressure</string>
	<key>listenerWorkCenter</key>
	<string>signPerChain</string>
	<key>managerBesideEnvironment</key>
	<string>documentDuringSystem</string>
	<key>relationalDecorationDistance</key>
	<string>injectionStrategyScale</string>
	<key>textfieldBesideTemple</key>
	<string>callbackAboutFacade</string>
	<key>toolStateSaturation</key>
	<string>movementFormMode</string>
</dict>
</plist>
