<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationTempleShade</key>
	<string>globalSamplePressure</string>
	<key>documentIncludeComposite</key>
	<string>navigatorSingletonSaturation</string>
	<key>momentumActionTag</key>
	<string>multiplicationChainStyle</string>
	<key>protectedTaskOrigin</key>
	<string>symmetricRadiusFormat</string>
	<key>sensorThroughState</key>
	<string>chartWithInterpreter</string>
	<key>shaderFacadeMargin</key>
	<string>nativeMediaqueryLocation</string>
	<key>sliderMementoType</key>
	<string>exceptionLevelTransparency</string>
</dict>
</plist>
