<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionDecoratorSize</key>
	<string>tickerInterpreterColor</string>
	<key>scrollAgainstFramework</key>
	<string>sequentialPriorityFlags</string>
	<key>swiftNumberSpeed</key>
	<string>synchronousNotificationForce</string>
	<key>titlePerForm</key>
	<string>widgetIncludeNumber</string>
</dict>
</plist>
