<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationShapeShape</key>
	<string>exponentAgainstObserver</string>
	<key>extensionAroundNumber</key>
	<string>commonBuilderBottom</string>
	<key>immutableTimerVisible</key>
	<string>signaturePhaseSaturation</string>
	<key>listenerTypeFeedback</key>
	<string>multiplicationAwayTask</string>
	<key>rowAsFunction</key>
	<string>providerUntilTask</string>
</dict>
</plist>
