<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleParticleColor</key>
	<string>functionalGesturedetectorIndex</string>
	<key>constraintEnvironmentDuration</key>
	<string>nodeLevelOpacity</string>
	<key>descriptorContainVisitor</key>
	<string>storeStateDepth</string>
	<key>diffableDurationPosition</key>
	<string>scrollableConstraintPressure</string>
	<key>injectionParameterColor</key>
	<string>enabledPrecisionName</string>
	<key>matrixTempleRotation</key>
	<string>gridForPhase</string>
	<key>segmentActivityRight</key>
	<string>graphPlatformStyle</string>
	<key>typicalTabbarStatus</key>
	<string>workflowNumberCoord</string>
	<key>usageAboutWork</key>
	<string>mobileSystemMomentum</string>
</dict>
</plist>
