<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeNodeTint</key>
	<string>elasticThreadLocation</string>
	<key>backwardCertificateVelocity</key>
	<string>masterThanShape</string>
	<key>baseVersusActivity</key>
	<string>timerMediatorHue</string>
	<key>cellPerEnvironment</key>
	<string>navigatorAroundFacade</string>
	<key>coordinatorWorkEdge</key>
	<string>presenterOrJob</string>
	<key>cubitVariableAppearance</key>
	<string>deferredListviewAppearance</string>
	<key>invisibleRouteVisible</key>
	<string>resolverAmongActivity</string>
	<key>managerMediatorPressure</key>
	<string>directlyGrainRate</string>
</dict>
</plist>
