<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesMementoEdge</key>
	<string>substantialCallbackBound</string>
	<key>directNodeStyle</key>
	<string>consultativeZonePadding</string>
	<key>lostMediaqueryStatus</key>
	<string>similarRichtextKind</string>
	<key>mediumStoreTop</key>
	<string>requiredBulletMode</string>
	<key>navigatorWithMemento</key>
	<string>cupertinoNearPlatform</string>
	<key>permissiveMovementState</key>
	<string>awaitMediatorPadding</string>
	<key>previewDecoratorHue</key>
	<string>sampleAndActivity</string>
	<key>providerBeyondLayer</key>
	<string>modalTempleVisibility</string>
</dict>
</plist>
