<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAwayNumber</key>
	<string>localizationSingletonHead</string>
	<key>customRouterBorder</key>
	<string>draggableMusicContrast</string>
	<key>durationStrategyFrequency</key>
	<string>textfieldTaskMode</string>
	<key>hierarchicalEquipmentKind</key>
	<string>stateDecoratorForce</string>
	<key>layoutAwayChain</key>
	<string>presenterLikeFramework</string>
	<key>projectSinceType</key>
	<string>particleAgainstType</string>
	<key>sensorDespiteSystem</key>
	<string>interfaceTypeSpeed</string>
	<key>statefulAwayBridge</key>
	<string>notificationProcessPadding</string>
	<key>unsortedLayerTint</key>
	<string>resizableShaderBrightness</string>
</dict>
</plist>
