<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEventContrast</key>
	<string>subscriptionWorkPosition</string>
	<key>frameNearAdapter</key>
	<string>localizationOutsideLayer</string>
	<key>integerContextDepth</key>
	<string>hardConsumerBorder</string>
	<key>presenterFormEdge</key>
	<string>completionCommandSpacing</string>
	<key>sizeForJob</key>
	<string>tappableCanvasFrequency</string>
</dict>
</plist>
