<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxTemplePressure</key>
	<string>metadataLevelPosition</string>
	<key>labelShapeTension</key>
	<string>navigatorAtVisitor</string>
	<key>metadataThroughCycle</key>
	<string>positionedAmongState</string>
	<key>oldPreviewVisible</key>
	<string>fixedKernelStyle</string>
	<key>paddingAwayMethod</key>
	<string>statelessQueueTail</string>
	<key>statePrototypeFormat</key>
	<string>prevGradientDuration</string>
	<key>statelessSkinColor</key>
	<string>marginBesideValue</string>
	<key>unsortedDrawerSaturation</key>
	<string>modulusAtContext</string>
</dict>
</plist>
