<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCycleInteraction</key>
	<string>interfaceInComposite</string>
	<key>binaryByStage</key>
	<string>consultativePositionAcceleration</string>
	<key>deferredMonsterMomentum</key>
	<string>expandedCommandOrientation</string>
	<key>delegateVersusParameter</key>
	<string>webSpriteDirection</string>
	<key>labelParameterBehavior</key>
	<string>grayscaleCompositeSkewy</string>
	<key>positionContainSingleton</key>
	<string>pageviewMethodName</string>
	<key>semanticStreamFrequency</key>
	<string>axisLevelOffset</string>
	<key>swiftNumberAcceleration</key>
	<string>semanticsTaskBrightness</string>
	<key>visibleTextContrast</key>
	<string>greatLayoutVisible</string>
</dict>
</plist>
