<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProxyDirection</key>
	<string>tappableGateContrast</string>
	<key>consultativeLocalizationDirection</key>
	<string>controllerTaskLeft</string>
	<key>missionAwayObserver</key>
	<string>substantialOptionSaturation</string>
	<key>stateAtMemento</key>
	<string>comprehensiveLayoutLocation</string>
</dict>
</plist>
