<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBeyondProxy</key>
	<string>timerStyleDistance</string>
	<key>flexInterpreterAlignment</key>
	<string>subtleTaskSkewx</string>
	<key>grainPrototypeHead</key>
	<string>synchronousControllerTag</string>
	<key>parallelGestureAppearance</key>
	<string>chapterParameterDensity</string>
	<key>protocolPerPattern</key>
	<string>modelByFunction</string>
	<key>requestAboutStrategy</key>
	<string>themeBridgeTheme</string>
	<key>retainedCommandIndex</key>
	<string>mobxAlongTask</string>
	<key>threadPerActivity</key>
	<string>layoutThanKind</string>
</dict>
</plist>
