<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPetMargin</key>
	<string>queueCompositeHue</string>
	<key>descriptorEnvironmentFeedback</key>
	<string>buttonThroughFramework</string>
	<key>fragmentVisitorBottom</key>
	<string>seamlessParticleVisibility</string>
	<key>transitionWithoutShape</key>
	<string>timerKindAcceleration</string>
	<key>vectorAsVisitor</key>
	<string>completionAtTemple</string>
	<key>widgetActivityFeedback</key>
	<string>queryAsLevel</string>
</dict>
</plist>
