<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAgainstEnvironment</key>
	<string>profileUntilJob</string>
	<key>fusedGroupPadding</key>
	<string>animationAgainstStructure</string>
	<key>queuePlatformStyle</key>
	<string>sizeSinceProxy</string>
	<key>responseBeyondState</key>
	<string>streamNearForm</string>
</dict>
</plist>
