<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyVersusForm</key>
	<string>timerVisitorMargin</string>
	<key>elasticBaselineInteraction</key>
	<string>entityPrototypeOrientation</string>
	<key>resilientWorkflowCenter</key>
	<string>fixedAxisCoord</string>
</dict>
</plist>
