<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeParameter</key>
	<string>alertCompositePressure</string>
	<key>bitrateVarHead</key>
	<string>awaitOfChain</string>
	<key>decorationMementoLocation</key>
	<string>sinkAmongBridge</string>
	<key>easyBulletTail</key>
	<string>segmentFrameworkRight</string>
	<key>particleInsideMemento</key>
	<string>gridProcessLeft</string>
	<key>signSinceScope</key>
	<string>descriptionForBuffer</string>
</dict>
</plist>
