<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBesideDecorator</key>
	<string>newestFeatureTransparency</string>
	<key>clipperKindShape</key>
	<string>modelForPrototype</string>
	<key>cycleChainPadding</key>
	<string>directlyTickerOrigin</string>
	<key>declarativeDropdownbuttonBound</key>
	<string>cubitDespiteSystem</string>
	<key>deferredSpineIndex</key>
	<string>transformerAwayPattern</string>
	<key>graphicNumberKind</key>
	<string>singletonFunctionFlags</string>
	<key>originalMovementBehavior</key>
	<string>densePaddingState</string>
	<key>pointInsideScope</key>
	<string>screenViaShape</string>
</dict>
</plist>
