<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateValueTail</key>
	<string>curveOrForm</string>
	<key>protocolAndValue</key>
	<string>bufferPatternRotation</string>
	<key>reductionInsideStyle</key>
	<string>playbackContainFlyweight</string>
	<key>sinkOfVisitor</key>
	<string>techniqueFunctionDirection</string>
</dict>
</plist>
