<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultIntensityRate</key>
	<string>navigatorParamType</string>
	<key>documentNearKind</key>
	<string>timerAlongStage</string>
	<key>independentTopicSpacing</key>
	<string>featureOutsideNumber</string>
	<key>labelFromNumber</key>
	<string>viewCycleLeft</string>
	<key>multiInterfaceHead</key>
	<string>shaderByContext</string>
	<key>nodeCommandAcceleration</key>
	<string>progressbarModeCenter</string>
	<key>rapidIconRight</key>
	<string>disparateCollectionTint</string>
</dict>
</plist>
