<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAdapterCenter</key>
	<string>tweenParameterBehavior</string>
	<key>asyncActivityBorder</key>
	<string>transitionAroundCommand</string>
	<key>columnLayerMargin</key>
	<string>granularAsyncOpacity</string>
	<key>cosineProxySpeed</key>
	<string>themePrototypeMargin</string>
	<key>descriptorTaskHead</key>
	<string>challengePlatformShape</string>
	<key>fusedViewBorder</key>
	<string>requestCycleResponse</string>
	<key>futureAlongParam</key>
	<string>modalScopeHue</string>
	<key>groupVersusStage</key>
	<string>elasticOptionVisible</string>
	<key>pivotalIntensityColor</key>
	<string>fixedHandlerOpacity</string>
	<key>titleWorkCoord</key>
	<string>integerMementoSpacing</string>
</dict>
</plist>
