<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarCompositeLocation</key>
	<string>actionDuringStrategy</string>
	<key>gradientPhaseTag</key>
	<string>overlayActivityStatus</string>
	<key>gridStageVelocity</key>
	<string>viewViaJob</string>
	<key>slashContextTag</key>
	<string>requestAlongChain</string>
	<key>stampPerVariable</key>
	<string>entityPlatformInteraction</string>
</dict>
</plist>
