<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstDecorator</key>
	<string>topicInTemple</string>
	<key>chartForMode</key>
	<string>customViewMargin</string>
	<key>notifierBeyondCommand</key>
	<string>matrixAmongKind</string>
	<key>protectedMovementMargin</key>
	<string>intensityAtVisitor</string>
	<key>publicResourceDelay</key>
	<string>kernelThanSingleton</string>
	<key>touchOrType</key>
	<string>repositoryAndStrategy</string>
	<key>widgetStyleDepth</key>
	<string>resourceExceptShape</string>
</dict>
</plist>
