<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitratePhaseMargin</key>
	<string>asynchronousFragmentName</string>
	<key>comprehensiveCubitLeft</key>
	<string>sharedSpineDuration</string>
	<key>declarativeTextureKind</key>
	<string>slashOrMediator</string>
	<key>futureScopeInset</key>
	<string>diffableGridviewOrigin</string>
	<key>layerWithoutKind</key>
	<string>sliderSystemCenter</string>
	<key>oldViewCount</key>
	<string>matrixByStyle</string>
	<key>popupSinceSystem</key>
	<string>factoryOperationFeedback</string>
	<key>profileKindScale</key>
	<string>lostCubitFlags</string>
	<key>sophisticatedResponseInteraction</key>
	<string>streamVariableDuration</string>
</dict>
</plist>
