<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerDespiteEnvironment</key>
	<string>largeExceptionLocation</string>
	<key>handlerOperationVisibility</key>
	<string>masterStructureVisible</string>
	<key>kernelCommandBrightness</key>
	<string>utilWithoutPlatform</string>
	<key>pivotalBlocTop</key>
	<string>momentumDuringLayer</string>
	<key>requiredLayoutPadding</key>
	<string>effectStrategyPadding</string>
	<key>usageLevelInterval</key>
	<string>cacheNumberSpacing</string>
</dict>
</plist>
