<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modelIncludeObserver</key>
	<string>symbolWithBuffer</string>
	<key>otherSessionTint</key>
	<string>animationContainForm</string>
	<key>repositoryIncludeChain</key>
	<string>declarativeCellOffset</string>
</dict>
</plist>
