<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsInterpreterCount</key>
	<string>symmetricDelegateSpeed</string>
	<key>delicateMovementKind</key>
	<string>lastBitrateOrientation</string>
	<key>denseTimerForce</key>
	<string>marginVersusFramework</string>
	<key>directViewName</key>
	<string>crudeRadiusTension</string>
	<key>sinkIncludeDecorator</key>
	<string>checklistWithMediator</string>
	<key>streamStyleSpeed</key>
	<string>containerBeyondLevel</string>
	<key>tabviewStageDuration</key>
	<string>textAsBridge</string>
	<key>tappableCacheOrigin</key>
	<string>customizedReferenceTop</string>
	<key>touchWithCycle</key>
	<string>directlySemanticsMargin</string>
</dict>
</plist>
