<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferBesideLevel</key>
	<string>semanticDescriptionOrientation</string>
	<key>builderAwayWork</key>
	<string>customGraphBorder</string>
	<key>cartesianOverlayAlignment</key>
	<string>listviewOrPhase</string>
	<key>clipperLayerValidation</key>
	<string>advancedActivityCoord</string>
	<key>featurePerBuffer</key>
	<string>transformerKindHue</string>
	<key>finalInteractorVisible</key>
	<string>keyShaderTop</string>
	<key>inheritedAnimatedcontainerBound</key>
	<string>collectionScopeTension</string>
	<key>responsiveMaterialMomentum</key>
	<string>batchViaAdapter</string>
</dict>
</plist>
