<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFunctionFeedback</key>
	<string>metadataParameterAlignment</string>
	<key>capsuleOrObserver</key>
	<string>chapterAgainstVar</string>
	<key>cubitViaPrototype</key>
	<string>cartesianStateShade</string>
	<key>grainLayerShade</key>
	<string>navigatorAboutMediator</string>
	<key>gridviewBridgeTension</key>
	<string>managerParamFormat</string>
	<key>intensityMediatorFlags</key>
	<string>indicatorStageMomentum</string>
	<key>interpolationOrActivity</key>
	<string>catalystBufferSaturation</string>
	<key>momentumPrototypeAppearance</key>
	<string>slashThanTier</string>
	<key>positionInEnvironment</key>
	<string>catalystLikeNumber</string>
	<key>symmetricTopicBehavior</key>
	<string>transitionSincePrototype</string>
</dict>
</plist>
