<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorBridgeRight</key>
	<string>screenStateColor</string>
	<key>chapterOfAction</key>
	<string>pinchableTernaryOpacity</string>
	<key>containerShapeTension</key>
	<string>normalAllocatorContrast</string>
	<key>factoryAboutComposite</key>
	<string>respectivePopupFrequency</string>
	<key>modulusDuringTier</key>
	<string>unsortedPromiseTheme</string>
	<key>presenterAroundSystem</key>
	<string>hardMobileHue</string>
	<key>previewAgainstBuffer</key>
	<string>significantStreamStyle</string>
</dict>
</plist>
