<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAwayType</key>
	<string>callbackChainVisibility</string>
	<key>diversifiedInteractorCoord</key>
	<string>commonReducerDirection</string>
	<key>documentVariableSpeed</key>
	<string>zoneTempleInset</string>
	<key>mobileKindIndex</key>
	<string>binaryAsDecorator</string>
	<key>navigationAboutPattern</key>
	<string>actionTypeBehavior</string>
	<key>offsetScopeState</key>
	<string>previewBeyondJob</string>
	<key>playbackWithoutState</key>
	<string>materialWithoutOperation</string>
	<key>previewMementoShade</key>
	<string>mainPrecisionDepth</string>
</dict>
</plist>
