<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationJobCount</key>
	<string>stackAdapterBorder</string>
	<key>declarativeMobxPosition</key>
	<string>independentInstructionOrientation</string>
	<key>movementUntilMode</key>
	<string>symbolUntilLevel</string>
	<key>requiredDurationOrientation</key>
	<string>equipmentWithDecorator</string>
</dict>
</plist>
