<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryJobContrast</key>
	<string>backwardShaderMargin</string>
	<key>canvasDuringKind</key>
	<string>assetScopeKind</string>
	<key>custompaintLevelCenter</key>
	<string>requestInsideMediator</string>
	<key>popupForLevel</key>
	<string>uniformAlignmentDuration</string>
	<key>rectStyleFeedback</key>
	<string>delegateNearLayer</string>
	<key>requestAlongState</key>
	<string>variantLayerOrientation</string>
	<key>temporaryOptimizerBorder</key>
	<string>diversifiedParticleAlignment</string>
	<key>textureThroughParam</key>
	<string>asyncFeatureForce</string>
</dict>
</plist>
