<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStyleContrast</key>
	<string>compositionalPointOrientation</string>
	<key>aspectPlatformKind</key>
	<string>descriptionStyleDelay</string>
	<key>constraintAboutLevel</key>
	<string>discardedResolverStyle</string>
	<key>entityScopeFrequency</key>
	<string>immediateTickerKind</string>
	<key>finalProfileSkewy</key>
	<string>bitrateTaskAlignment</string>
	<key>graphTempleDensity</key>
	<string>graphStructureOrigin</string>
	<key>multiRadiusSkewx</key>
	<string>radiusAlongType</string>
	<key>resultProcessColor</key>
	<string>navigationByNumber</string>
	<key>routeFromTask</key>
	<string>viewVariableDelay</string>
	<key>transitionFunctionVisible</key>
	<string>viewIncludePlatform</string>
</dict>
</plist>
