<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentInterfaceAcceleration</key>
	<string>relationalModelAppearance</string>
	<key>denseTextContrast</key>
	<string>serviceStyleStatus</string>
	<key>ignoredImageOrigin</key>
	<string>requestParameterTail</string>
	<key>roleWithSingleton</key>
	<string>playbackParamContrast</string>
	<key>synchronousCurveCenter</key>
	<string>unaryParameterOrigin</string>
	<key>tabbarWorkBorder</key>
	<string>parallelRouteValidation</string>
</dict>
</plist>
