<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeDropdownbuttonSkewx</key>
	<string>assetStrategyTag</string>
	<key>listviewUntilBridge</key>
	<string>getxCycleForce</string>
	<key>navigatorCompositeMode</key>
	<string>geometricTangentTheme</string>
	<key>precisionInsideLayer</key>
	<string>webShaderBehavior</string>
	<key>priorRadiusValidation</key>
	<string>eventScopeDelay</string>
	<key>rowOfAction</key>
	<string>assetShapeTag</string>
	<key>seamlessReducerShade</key>
	<string>imperativeThemeInset</string>
	<key>statelessLikeCycle</key>
	<string>capsuleVarLeft</string>
</dict>
</plist>
