<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationUntilTask</key>
	<string>playbackInsideVisitor</string>
	<key>routeAmongTier</key>
	<string>expandedOperationInteraction</string>
	<key>secondIntegerInset</key>
	<string>sinkExceptStage</string>
	<key>storeOperationLocation</key>
	<string>sceneBeyondProcess</string>
	<key>viewModeDepth</key>
	<string>managerLayerResponse</string>
</dict>
</plist>
