<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateHeapShape</key>
	<string>binaryOutsideProxy</string>
	<key>greatChartCount</key>
	<string>menuInsideShape</string>
	<key>layoutStrategyRotation</key>
	<string>blocThroughProxy</string>
	<key>loopSingletonIndex</key>
	<string>cacheInActivity</string>
	<key>originalLabelMomentum</key>
	<string>overlayByValue</string>
	<key>serviceVariableSize</key>
	<string>desktopSizedboxRate</string>
	<key>themeValueState</key>
	<string>tweenDespiteMediator</string>
	<key>touchFromInterpreter</key>
	<string>dropdownbuttonNearStage</string>
	<key>uniformAssetEdge</key>
	<string>resultMethodHue</string>
</dict>
</plist>
