<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedServiceInteraction</key>
	<string>stackAtStrategy</string>
	<key>boxshadowByLayer</key>
	<string>specifyEffectPadding</string>
	<key>requestThanTemple</key>
	<string>movementAgainstMethod</string>
	<key>resourceStageDensity</key>
	<string>eagerShaderShade</string>
	<key>spriteNumberLocation</key>
	<string>sineOperationVelocity</string>
</dict>
</plist>
