<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsKindAppearance</key>
	<string>textfieldActionDistance</string>
	<key>integerThroughMediator</key>
	<string>originalConvolutionFormat</string>
	<key>nativeControllerInterval</key>
	<string>channelInState</string>
	<key>observerCommandSkewy</key>
	<string>diffableIsolateDistance</string>
	<key>originalModulusScale</key>
	<string>framePhaseTransparency</string>
	<key>pointDuringLayer</key>
	<string>graphicViaSingleton</string>
	<key>singleReducerSaturation</key>
	<string>configurationAdapterFrequency</string>
	<key>timerModeBottom</key>
	<string>alertThroughLevel</string>
	<key>titleViaMode</key>
	<string>timerPatternSaturation</string>
</dict>
</plist>
