<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTopicDirection</key>
	<string>arithmeticParameterOffset</string>
	<key>customizedAspectType</key>
	<string>largeFeatureDuration</string>
	<key>eventFromBridge</key>
	<string>sceneBridgeSkewx</string>
	<key>integerTierMode</key>
	<string>functionalGiftInteraction</string>
	<key>progressbarVariableShade</key>
	<string>callbackLikeFlyweight</string>
	<key>unsortedSpriteAppearance</key>
	<string>consultativeRadiusAppearance</string>
</dict>
</plist>
