<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAtFramework</key>
	<string>animatedListenerInset</string>
	<key>modelPatternFrequency</key>
	<string>interactorFunctionOpacity</string>
	<key>streamDespiteStructure</key>
	<string>reactiveCompleterVisible</string>
	<key>subscriptionAdapterPressure</key>
	<string>sliderBeyondActivity</string>
</dict>
</plist>
