<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInsideScope</key>
	<string>relationalDecorationVelocity</string>
	<key>frameStageMomentum</key>
	<string>ternaryActionMargin</string>
	<key>lossFunctionBottom</key>
	<string>boxshadowByEnvironment</string>
	<key>masterByTier</key>
	<string>captionThroughParameter</string>
	<key>multiplicationForForm</key>
	<string>clipperSinceSystem</string>
	<key>offsetInsideContext</key>
	<string>iconDuringDecorator</string>
	<key>permanentMediaDistance</key>
	<string>semanticArithmeticSpeed</string>
	<key>scaleByTemple</key>
	<string>equalizationContextSpacing</string>
	<key>tweenForMemento</key>
	<string>coordinatorThanFlyweight</string>
</dict>
</plist>
