<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStructureCount</key>
	<string>stateAsStage</string>
	<key>fragmentMediatorDirection</key>
	<string>flexibleSizedboxIndex</string>
	<key>modalFromInterpreter</key>
	<string>storyboardPatternOffset</string>
	<key>stampOutsideComposite</key>
	<string>inkwellModeSize</string>
	<key>tensorChartContrast</key>
	<string>dialogsBridgeAlignment</string>
	<key>toolCommandIndex</key>
	<string>handlerStrategyCount</string>
	<key>uniformChannelsPressure</key>
	<string>expandedInterpreterVisible</string>
</dict>
</plist>
