<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedStackInset</key>
	<string>dedicatedLabelAcceleration</string>
	<key>checklistVarPosition</key>
	<string>stepOutsideShape</string>
	<key>expandedIncludeKind</key>
	<string>intensityStructureAppearance</string>
	<key>gestureNearStrategy</key>
	<string>certificateDespiteForm</string>
	<key>heroOutsidePattern</key>
	<string>timerStateTop</string>
	<key>mapDuringBridge</key>
	<string>mediocreReductionForce</string>
</dict>
</plist>
