<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionPerStructure</key>
	<string>finalViewRight</string>
	<key>factoryFromCommand</key>
	<string>equipmentOfEnvironment</string>
	<key>progressbarOfActivity</key>
	<string>uniformProviderDistance</string>
	<key>shaderAdapterRate</key>
	<string>awaitFrameworkTag</string>
</dict>
</plist>
