<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerGridAcceleration</key>
	<string>stepInsideState</string>
	<key>blocActivityInset</key>
	<string>rowFrameworkRate</string>
	<key>decorationParamTint</key>
	<string>remainderExceptTier</string>
	<key>lastRequestHead</key>
	<string>streamAlongTask</string>
	<key>stateAgainstBridge</key>
	<string>explicitCallbackAcceleration</string>
</dict>
</plist>
