<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardAlertBound</key>
	<string>widgetFunctionCoord</string>
	<key>coordinatorOfStyle</key>
	<string>builderAndStrategy</string>
	<key>crudeAccessorySaturation</key>
	<string>geometricChannelDistance</string>
	<key>iconInAction</key>
	<string>interactorNumberTop</string>
	<key>marginStageFeedback</key>
	<string>tabviewAlongCycle</string>
	<key>prismaticExponentDirection</key>
	<string>pivotalNibMargin</string>
</dict>
</plist>
