<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarStateResponse</key>
	<string>roleDecoratorType</string>
	<key>handlerAwayInterpreter</key>
	<string>threadOutsideCycle</string>
	<key>missionLikeWork</key>
	<string>resourceExceptParameter</string>
	<key>numericalThreadDistance</key>
	<string>channelContainType</string>
	<key>sharedZoneVisibility</key>
	<string>completerFromParam</string>
	<key>viewChainForce</key>
	<string>materialWithPattern</string>
	<key>zoneBesideDecorator</key>
	<string>storyboardWithCommand</string>
</dict>
</plist>
