<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintNearParameter</key>
	<string>tappablePositionedDelay</string>
	<key>entropyThroughStructure</key>
	<string>usecaseAwayState</string>
	<key>groupAndMode</key>
	<string>taskVarVisibility</string>
	<key>inactiveSingletonColor</key>
	<string>giftAsKind</string>
	<key>positionIncludeVar</key>
	<string>inkwellShapeMomentum</string>
	<key>providerDespitePrototype</key>
	<string>errorIncludePrototype</string>
</dict>
</plist>
