<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentBitrateFlags</key>
	<string>protectedGiftBound</string>
	<key>eagerParticleHue</key>
	<string>sinkPhaseRight</string>
	<key>euclideanSkinEdge</key>
	<string>particleStrategyTheme</string>
	<key>featureSingletonResponse</key>
	<string>canvasFacadeFlags</string>
	<key>gradientPerPrototype</key>
	<string>stateTypePadding</string>
	<key>matrixLikeObserver</key>
	<string>referenceNumberSize</string>
	<key>mutableLocalizationSize</key>
	<string>euclideanAnimatedcontainerTag</string>
	<key>titleTaskDelay</key>
	<string>graphicOutsideTask</string>
	<key>tweenFromPrototype</key>
	<string>commonDropdownbuttonHead</string>
</dict>
</plist>
