<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionResultTop</key>
	<string>effectBridgeTail</string>
	<key>commonCellAcceleration</key>
	<string>utilViaScope</string>
	<key>fixedRouteShape</key>
	<string>subpixelCommandShape</string>
	<key>interfaceInterpreterShape</key>
	<string>routeMediatorAppearance</string>
	<key>promiseExceptPlatform</key>
	<string>cursorAdapterFeedback</string>
</dict>
</plist>
