<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCustompaintFeedback</key>
	<string>remainderStyleBorder</string>
	<key>actionVariableEdge</key>
	<string>techniqueActionTransparency</string>
	<key>activeManagerPosition</key>
	<string>lazyIntegerFeedback</string>
	<key>descriptionStageDistance</key>
	<string>positionedParameterCoord</string>
	<key>injectionValueFrequency</key>
	<string>interfaceAlongForm</string>
	<key>missionLikeKind</key>
	<string>imperativeCheckboxMargin</string>
	<key>radioProcessDepth</key>
	<string>reactiveIntegerTint</string>
	<key>textThroughTask</key>
	<string>sineAroundChain</string>
</dict>
</plist>
