<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioExceptForm</key>
	<string>promisePerFunction</string>
	<key>entitySingletonAlignment</key>
	<string>protectedButtonPressure</string>
	<key>fixedCallbackAcceleration</key>
	<string>dedicatedTweenStatus</string>
	<key>lazyCompleterTail</key>
	<string>menuStageTint</string>
	<key>lostNibDepth</key>
	<string>sliderFunctionMode</string>
	<key>metadataFunctionTheme</key>
	<string>displayableClipperCount</string>
	<key>prismaticProviderFormat</key>
	<string>easyAsyncDistance</string>
	<key>semanticMarginSkewy</key>
	<string>adaptiveRouteSkewy</string>
	<key>ternaryWithCycle</key>
	<string>navigationPerShape</string>
	<key>utilShapeKind</key>
	<string>progressbarViaCommand</string>
</dict>
</plist>
