<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorNumberShade</key>
	<string>timerPrototypeRight</string>
	<key>coordinatorOfVariable</key>
	<string>modalActivitySaturation</string>
	<key>draggableColumnAcceleration</key>
	<string>largeSpotHue</string>
	<key>histogramVisitorCoord</key>
	<string>zoneTaskTension</string>
	<key>intensityBeyondLayer</key>
	<string>symbolDuringStyle</string>
	<key>spriteSincePrototype</key>
	<string>displayableGrainBrightness</string>
	<key>textAlongState</key>
	<string>delicateLogLeft</string>
</dict>
</plist>
