<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartMediatorLeft</key>
	<string>difficultCellContrast</string>
	<key>denseRowAcceleration</key>
	<string>handlerCycleShape</string>
	<key>interactorAndInterpreter</key>
	<string>channelDecoratorSkewx</string>
	<key>intermediatePreviewMargin</key>
	<string>observerWithoutKind</string>
	<key>layoutContainStrategy</key>
	<string>crucialEqualizationMode</string>
	<key>resultLevelCoord</key>
	<string>coordinatorExceptChain</string>
	<key>signatureAwayMode</key>
	<string>lostCacheCount</string>
</dict>
</plist>
