<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLayerMomentum</key>
	<string>radioByOperation</string>
	<key>autoInterfaceTail</key>
	<string>textureBeyondSystem</string>
	<key>compositionalMenuDistance</key>
	<string>imperativeOffsetScale</string>
	<key>criticalBlocFlags</key>
	<string>smartSwiftType</string>
	<key>fragmentNumberValidation</key>
	<string>blocViaComposite</string>
	<key>nodeThroughValue</key>
	<string>richtextCommandVisibility</string>
	<key>opaqueAlphaInset</key>
	<string>statefulPositionBehavior</string>
	<key>rowAgainstCycle</key>
	<string>skinViaFlyweight</string>
	<key>segmentVersusVar</key>
	<string>grainExceptPhase</string>
</dict>
</plist>
