<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionShapeLeft</key>
	<string>titleAboutFacade</string>
	<key>cupertinoMementoFlags</key>
	<string>repositoryProcessBound</string>
	<key>groupMethodVelocity</key>
	<string>appbarOfSystem</string>
	<key>hashVariableEdge</key>
	<string>opaqueInterfaceAcceleration</string>
	<key>interactiveBlocCount</key>
	<string>cartesianSinkFeedback</string>
	<key>listenerContainOperation</key>
	<string>uniformRectInteraction</string>
	<key>musicUntilOperation</key>
	<string>baselineOperationTint</string>
	<key>prevTimerCount</key>
	<string>priorTopicTag</string>
	<key>specifyColumnInterval</key>
	<string>currentBorderSaturation</string>
	<key>symmetricOffsetBottom</key>
	<string>petVersusMemento</string>
</dict>
</plist>
