<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGesturePressure</key>
	<string>multiChapterResponse</string>
	<key>factoryVarTransparency</key>
	<string>deferredReducerBound</string>
	<key>geometricStreamDensity</key>
	<string>topicFormBorder</string>
	<key>integerBridgeHead</key>
	<string>repositoryContainFlyweight</string>
	<key>tabviewAmongPrototype</key>
	<string>nodeUntilObserver</string>
</dict>
</plist>
