<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAgainstObserver</key>
	<string>getxFacadeBottom</string>
	<key>concreteUnaryMode</key>
	<string>groupStyleShade</string>
	<key>crucialFactoryInset</key>
	<string>draggableThemeDirection</string>
	<key>durationBesideValue</key>
	<string>descriptionStateDirection</string>
	<key>listenerStagePosition</key>
	<string>managerAroundAdapter</string>
	<key>liteConstraintCount</key>
	<string>grainLevelShape</string>
	<key>positionFormTheme</key>
	<string>similarCurveOrigin</string>
	<key>sequentialMaterialRotation</key>
	<string>originalHeroTension</string>
	<key>stateStructureDirection</key>
	<string>allocatorWithPhase</string>
</dict>
</plist>
