<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStateCount</key>
	<string>arithmeticVariableVisibility</string>
	<key>builderOutsideJob</key>
	<string>keyContractionVisible</string>
	<key>columnScopeKind</key>
	<string>graphDecoratorOrientation</string>
	<key>mobileNavigatorKind</key>
	<string>spriteFacadeMomentum</string>
	<key>modelAtStructure</key>
	<string>beginnerVariantEdge</string>
	<key>optimizerMediatorDensity</key>
	<string>factoryMediatorName</string>
	<key>webBuilderBound</key>
	<string>assetSingletonType</string>
</dict>
</plist>
