<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particlePlatformOrigin</key>
	<string>storeOrScope</string>
	<key>progressbarProxyBottom</key>
	<string>storageStrategyRotation</string>
	<key>sustainableProviderMode</key>
	<string>rowOutsidePlatform</string>
	<key>ternaryProxyBottom</key>
	<string>criticalMetadataCoord</string>
	<key>themeStrategyHead</key>
	<string>gradientKindValidation</string>
	<key>transformerAlongParam</key>
	<string>criticalCoordinatorOrientation</string>
</dict>
</plist>
