<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDuringMemento</key>
	<string>listenerContextStyle</string>
	<key>asyncTransformerSpacing</key>
	<string>smallProjectionTransparency</string>
	<key>equalizationPatternScale</key>
	<string>observerLikeVariable</string>
	<key>flexibleBorderMode</key>
	<string>secondCompletionStyle</string>
	<key>logarithmProxyDistance</key>
	<string>tappableGrayscaleMode</string>
	<key>notifierCompositeShape</key>
	<string>dedicatedPetDensity</string>
	<key>threadSinceOperation</key>
	<string>statelessFlyweightDepth</string>
</dict>
</plist>
