<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterThanSystem</key>
	<string>animationLayerSaturation</string>
	<key>descriptionStateSkewx</key>
	<string>reducerWithTier</string>
	<key>extensionOfPlatform</key>
	<string>hyperbolicBoxStyle</string>
	<key>prevThreadTag</key>
	<string>projectActivityDensity</string>
	<key>profileKindAppearance</key>
	<string>positionBufferState</string>
	<key>resizableFlexIndex</key>
	<string>topicProcessScale</string>
	<key>sliderBesideAction</key>
	<string>boxshadowAgainstFunction</string>
	<key>textfieldTempleOrigin</key>
	<string>multiSliderInset</string>
</dict>
</plist>
