<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTaskFrequency</key>
	<string>currentCycleContrast</string>
	<key>dependencyValueTag</key>
	<string>previewOperationDirection</string>
	<key>gramAlongProcess</key>
	<string>publicStampCount</string>
	<key>histogramObserverRight</key>
	<string>finalSpriteShape</string>
	<key>projectPlatformCoord</key>
	<string>graphicMediatorForce</string>
	<key>promiseActionIndex</key>
	<string>enabledProviderSaturation</string>
	<key>radiusSingletonDistance</key>
	<string>giftStateCoord</string>
	<key>requiredServiceTag</key>
	<string>collectionFrameworkMargin</string>
	<key>usecaseAtTier</key>
	<string>eventAtFacade</string>
	<key>zoneInterpreterCenter</key>
	<string>scrollBeyondPhase</string>
</dict>
</plist>
