<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeButtonPosition</key>
	<string>managerProxyStatus</string>
	<key>directArithmeticCenter</key>
	<string>cacheBesideType</string>
	<key>firstPositionTheme</key>
	<string>frameStructureMomentum</string>
	<key>materialRowIndex</key>
	<string>usedConvolutionCount</string>
	<key>multiplicationProcessCoord</key>
	<string>constraintOfLayer</string>
	<key>promiseInsideFunction</key>
	<string>nativeChartSpacing</string>
	<key>subpixelAndVar</key>
	<string>sustainableRequestBottom</string>
</dict>
</plist>
