<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTierType</key>
	<string>radiusContextLeft</string>
	<key>dropdownbuttonDuringFlyweight</key>
	<string>hierarchicalAsyncCoord</string>
	<key>effectLayerAlignment</key>
	<string>playbackOutsideNumber</string>
	<key>functionalAlignmentOrientation</key>
	<string>temporaryInkwellOrientation</string>
	<key>immediateRepositoryDuration</key>
	<string>controllerJobBrightness</string>
	<key>multiConvolutionAcceleration</key>
	<string>decorationAndVariable</string>
	<key>normalDurationTransparency</key>
	<string>crucialConsumerStyle</string>
	<key>repositoryAwayNumber</key>
	<string>activityOfVisitor</string>
	<key>taskVersusPattern</key>
	<string>comprehensiveLogarithmLeft</string>
</dict>
</plist>
