<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sharedDurationAppearance</key>
	<string>associatedSpineOffset</string>
	<key>switchCommandSize</key>
	<string>sizePlatformVisible</string>
</dict>
</plist>
