<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoForce</key>
	<string>semanticFutureOrientation</string>
	<key>inheritedRouteSkewx</key>
	<string>arithmeticLabelStatus</string>
	<key>materialTaskScale</key>
	<string>usecaseWithParam</string>
	<key>methodThanPhase</key>
	<string>multiErrorFrequency</string>
	<key>taskUntilComposite</key>
	<string>stepStructureTransparency</string>
</dict>
</plist>
