<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAroundDecorator</key>
	<string>completerInFacade</string>
	<key>convolutionFlyweightFormat</key>
	<string>plateOrStrategy</string>
	<key>custompaintUntilAdapter</key>
	<string>primaryBehaviorBorder</string>
	<key>eventContextLocation</key>
	<string>commandOutsideSingleton</string>
	<key>interactorChainInteraction</key>
	<string>widgetCompositeBehavior</string>
	<key>menuScopeName</key>
	<string>arithmeticButtonFrequency</string>
	<key>nativeGesturedetectorSize</key>
	<string>asyncApertureDepth</string>
	<key>pointAroundCommand</key>
	<string>storyboardScopeInset</string>
	<key>progressbarVarEdge</key>
	<string>expandedPhaseVelocity</string>
</dict>
</plist>
