<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionActionOrientation</key>
	<string>bufferFacadeFlags</string>
	<key>dependencyVersusTask</key>
	<string>originalPromiseSkewy</string>
	<key>errorContainNumber</key>
	<string>similarMomentumIndex</string>
	<key>rectMediatorVisible</key>
	<string>routeDuringDecorator</string>
	<key>scrollContextFlags</key>
	<string>widgetVisitorDelay</string>
</dict>
</plist>
