<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultDurationRotation</key>
	<string>similarCanvasName</string>
	<key>loopStrategyInteraction</key>
	<string>captionExceptState</string>
	<key>newestRoleStatus</key>
	<string>baselineSinceBuffer</string>
	<key>requiredResponseTail</key>
	<string>resultWithShape</string>
	<key>retainedNavigatorColor</key>
	<string>mobxAlongProcess</string>
	<key>textBesideCommand</key>
	<string>smallSlashMode</string>
	<key>usecaseAndFacade</key>
	<string>sequentialIsolatePosition</string>
	<key>utilMethodFrequency</key>
	<string>borderAndFlyweight</string>
</dict>
</plist>
