<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFacadeDepth</key>
	<string>transformerOutsideMethod</string>
	<key>composableCurveInteraction</key>
	<string>gridAroundForm</string>
	<key>containerFlyweightInterval</key>
	<string>streamContainFunction</string>
	<key>delegateTaskTint</key>
	<string>crucialResourceBorder</string>
	<key>dropdownbuttonSystemBound</key>
	<string>robustTaskVelocity</string>
	<key>exceptionAdapterMode</key>
	<string>graphTaskAlignment</string>
	<key>materialDependencyPadding</key>
	<string>exponentExceptScope</string>
	<key>mediaVarStyle</key>
	<string>customArithmeticBorder</string>
	<key>segmentAlongStrategy</key>
	<string>cacheAlongAction</string>
</dict>
</plist>
