<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requestCommandAlignment</key>
	<string>asyncContextMode</string>
	<key>subtleSubscriptionOpacity</key>
	<string>respectiveQueryDensity</string>
	<key>tableAroundTier</key>
	<string>concreteResolverScale</string>
</dict>
</plist>
