<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constBoxDelay</key>
	<string>particleExceptTask</string>
	<key>equalizationExceptStrategy</key>
	<string>multiExponentSize</string>
	<key>iconMethodScale</key>
	<string>positionedUntilStrategy</string>
</dict>
</plist>
