<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintSystemDuration</key>
	<string>particlePerScope</string>
	<key>navigatorTypeCenter</key>
	<string>textContainCommand</string>
	<key>newestTouchAppearance</key>
	<string>curveDuringParam</string>
	<key>nodeVarSkewx</key>
	<string>methodPrototypeIndex</string>
	<key>reducerObserverInterval</key>
	<string>significantListenerCoord</string>
	<key>widgetAlongState</key>
	<string>errorAgainstObserver</string>
</dict>
</plist>
