<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeChartDistance</key>
	<string>sessionPhaseLeft</string>
	<key>equalizationFunctionRotation</key>
	<string>lossAroundVariable</string>
	<key>errorPrototypeColor</key>
	<string>textureOrJob</string>
	<key>immediateChannelPadding</key>
	<string>textForTier</string>
	<key>intensityActionStyle</key>
	<string>mediocreStepDuration</string>
	<key>sizedboxWorkVisibility</key>
	<string>petUntilParameter</string>
</dict>
</plist>
