<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTitleDensity</key>
	<string>unsortedBuilderVelocity</string>
	<key>decorationDespiteMode</key>
	<string>multiAssetTop</string>
	<key>memberChainCoord</key>
	<string>graphicViaForm</string>
	<key>notificationAgainstStructure</key>
	<string>statelessFrameSize</string>
	<key>notifierInterpreterMomentum</key>
	<string>immutableStepMode</string>
	<key>progressbarVariableLeft</key>
	<string>basicCellAcceleration</string>
	<key>protectedBatchRotation</key>
	<string>zoneAndPattern</string>
	<key>specifyPresenterDepth</key>
	<string>routerViaCommand</string>
	<key>threadDespiteScope</key>
	<string>nextRichtextAcceleration</string>
</dict>
</plist>
