<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryForMemento</key>
	<string>temporaryScrollEdge</string>
	<key>crudeCaptionInterval</key>
	<string>temporaryPositionRotation</string>
	<key>custompaintAdapterRight</key>
	<string>routeDecoratorSpeed</string>
	<key>fixedBufferStyle</key>
	<string>immutableMenuOffset</string>
	<key>imagePhaseSize</key>
	<string>fusedGradientBound</string>
	<key>modulusObserverTag</key>
	<string>substantialLabelTransparency</string>
	<key>movementSinceStage</key>
	<string>futureProcessPosition</string>
	<key>responseThanBridge</key>
	<string>comprehensiveBehaviorState</string>
	<key>sequentialRoleStyle</key>
	<string>similarApertureOpacity</string>
	<key>sustainableServiceRate</key>
	<string>responseInStrategy</string>
</dict>
</plist>
