<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStructureFrequency</key>
	<string>subpixelStageSpeed</string>
	<key>basicResolverType</key>
	<string>smallCallbackOpacity</string>
	<key>certificateViaStage</key>
	<string>sampleAlongFacade</string>
	<key>expandedMediatorPressure</key>
	<string>textureViaTier</string>
	<key>frameContainChain</key>
	<string>routePrototypeTheme</string>
	<key>mainCurveDirection</key>
	<string>signatureParameterBrightness</string>
</dict>
</plist>
