<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionMethodOpacity</key>
	<string>iconVersusCycle</string>
	<key>interfaceForFacade</key>
	<string>oldNormCount</string>
	<key>missionAndStrategy</key>
	<string>radioTierTension</string>
	<key>swiftStageFlags</key>
	<string>channelsUntilOperation</string>
</dict>
</plist>
