<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardRowDensity</key>
	<string>autoHandlerVisible</string>
	<key>columnBeyondInterpreter</key>
	<string>pinchableBitrateSkewx</string>
	<key>containerScopeTransparency</key>
	<string>normalResolverPosition</string>
	<key>convolutionForState</key>
	<string>topicThanProxy</string>
	<key>geometricModulusIndex</key>
	<string>sinkValueLocation</string>
	<key>modelOrStructure</key>
	<string>numericalEventSaturation</string>
	<key>opaquePageviewPressure</key>
	<string>bulletSingletonCenter</string>
	<key>skirtVariableTheme</key>
	<string>sceneFunctionDensity</string>
	<key>specifyActivityOrigin</key>
	<string>storageOutsideInterpreter</string>
	<key>tickerByFunction</key>
	<string>prismaticCoordinatorHead</string>
</dict>
</plist>
