<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeVectorBrightness</key>
	<string>priorityParamFormat</string>
	<key>exponentPrototypeStyle</key>
	<string>labelBridgeFeedback</string>
	<key>mutableCubeType</key>
	<string>firstHashAlignment</string>
	<key>popupOutsideEnvironment</key>
	<string>iterativePreviewAlignment</string>
	<key>tickerOfEnvironment</key>
	<string>priorResultMomentum</string>
</dict>
</plist>
