<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAlongShape</key>
	<string>baseVariableAcceleration</string>
	<key>concurrentRadiusRight</key>
	<string>isolatePlatformDuration</string>
	<key>containerOrChain</key>
	<string>errorOutsideAdapter</string>
	<key>equalizationOutsideSingleton</key>
	<string>statelessNormShade</string>
	<key>euclideanPositionVelocity</key>
	<string>coordinatorProxyFeedback</string>
	<key>inactiveManagerInterval</key>
	<string>nativeSpriteVisible</string>
	<key>pinchableExtensionColor</key>
	<string>nodeLayerLocation</string>
	<key>richtextByDecorator</key>
	<string>tangentThanSingleton</string>
</dict>
</plist>
