<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAtDecorator</key>
	<string>providerPatternDirection</string>
	<key>entityCompositeResponse</key>
	<string>resilientRouteMode</string>
	<key>movementValueTension</key>
	<string>mainStampSpeed</string>
	<key>resolverAgainstChain</key>
	<string>storyboardChainCount</string>
	<key>richtextTempleStatus</key>
	<string>radioLikeActivity</string>
</dict>
</plist>
