<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBitrateVisible</key>
	<string>titleShapeKind</string>
	<key>deferredCanvasStatus</key>
	<string>intermediateInjectionBound</string>
	<key>delegateUntilParam</key>
	<string>captionParamPosition</string>
	<key>integerPatternOffset</key>
	<string>persistentTableHue</string>
	<key>queryAsDecorator</key>
	<string>featureStageVelocity</string>
	<key>segueLikeDecorator</key>
	<string>scrollablePainterHue</string>
	<key>uniqueHandlerBorder</key>
	<string>positionPlatformLocation</string>
</dict>
</plist>
