<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowNearParameter</key>
	<string>statefulPointDirection</string>
	<key>concurrentAnimatedcontainerInset</key>
	<string>mapNumberPosition</string>
	<key>displayableScreenShape</key>
	<string>durationByTask</string>
	<key>expandedAsTier</key>
	<string>alignmentBridgeDuration</string>
	<key>gramOrSystem</key>
	<string>ephemeralContainerVisible</string>
	<key>largeArithmeticState</key>
	<string>prismaticCyclePressure</string>
	<key>positionNearStrategy</key>
	<string>precisionOperationAlignment</string>
	<key>widgetDespiteObserver</key>
	<string>toolAndStage</string>
</dict>
</plist>
