<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperAdapterKind</key>
	<string>independentHandlerFrequency</string>
	<key>dependencySinceLayer</key>
	<string>commonPrecisionHead</string>
	<key>equipmentAdapterTransparency</key>
	<string>semanticsOperationAppearance</string>
	<key>petExceptFramework</key>
	<string>substantialLayoutMomentum</string>
	<key>priorityShapeBound</key>
	<string>permanentDecorationSkewx</string>
	<key>queryStageBorder</key>
	<string>entityPrototypeTransparency</string>
	<key>rectChainVisible</key>
	<string>resultInFramework</string>
	<key>secondMediaInterval</key>
	<string>asyncAnimationResponse</string>
	<key>sophisticatedOffsetIndex</key>
	<string>histogramParamValidation</string>
	<key>toolVariableSpeed</key>
	<string>serviceMementoRight</string>
</dict>
</plist>
