<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowByPlatform</key>
	<string>firstDelegateOffset</string>
	<key>checkboxDespiteMode</key>
	<string>enabledBitrateAppearance</string>
	<key>prevCacheName</key>
	<string>layoutCycleLocation</string>
	<key>rectThanScope</key>
	<string>featureBufferType</string>
	<key>sharedCompletionInteraction</key>
	<string>commandOperationOrigin</string>
	<key>sizeViaProcess</key>
	<string>mediaqueryMementoInset</string>
	<key>spotNumberRotation</key>
	<string>unaryFunctionDensity</string>
</dict>
</plist>
