<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalInteractorTransparency</key>
	<string>mobxAdapterMomentum</string>
	<key>optionBridgeShape</key>
	<string>sequentialNodeSaturation</string>
	<key>singleDocumentLocation</key>
	<string>previewViaTemple</string>
</dict>
</plist>
